{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css '%}">



 <div class="container_login">
 <h1>
    <a href="#menu">Click me</a>
 </h1>
    
<div class="popover" id="menu">
 <div class = 'content'>
  <a href="#" class="close"></a>
   <div class = 'nav'>
    <ul class = 'nav_list'>
      
      <div class = 'nav_list_item'>
	  <li><a href="#">Home</a></li>
      </div>
     <div class = 'nav_list_item'>
		<li><a href="#">About</a></li>
      </div>
    <div class = 'nav_list_item'>
	  <li><a href="#">Products</a></li>
      </div>
    <div class = 'nav_list_item'>
	  <li><a href="#">Services</a></li>
      </div>
     <div class = 'nav_list_item'>
		<li><a href="#">Contact</a></li>
      </div>
      
	</ul>
  </div>
 </div>
 </div>
 </div>





<div class="container2" id="container">
<input type="submit" value="X" class="btn btn-primary closeall">
	<div class="form-container sign-up-premium-container">
		<form action="{% url 'premium_user_signup' %}" method="POST">
			{% csrf_token %}
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			
			<input type="text" name="first_name" placeholder="Firstname" / required>
			<input type="text" name="last_name" placeholder="Lastname" />
			<input type="email" name="email" placeholder="Email" / required>
			<input type="number" name="phone" placeholder="Phone" / required>
			<input type="text" name="refferalcode" placeholder="Refferal Code" />
			<input type="password" name="password1" placeholder="Password" />
			<input type="password" name="password2" placeholder="Confirm Password" />
			<button type="submit">Premium Sign Up</button>
		</form>
	</div>


	<div class="form-container sign-up-container">
		<form action="{% url 'user_signup' %}" method="POST">
			{% csrf_token %}
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<input type="text" name="first_name" placeholder="Firstname" / required>
			<input type="text" name="last_name" placeholder="Lastname" />
			<input type="email" name="email" placeholder="Email" / required>
			<input type="number" name="phone" placeholder="Phone" / required>
			<input type="text" name="refferalcode" placeholder="Refferal Code" />
			<input type="password" name="password1" placeholder="Password" />
			<input type="password" name="password2" placeholder="Confirm Password" />
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'user_login' %}" method="POST">
			{% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" name="name" placeholder="Email" / required>
			<input type="password" name="password" placeholder="Password" / required>
			<br>
			<a href="#">Forgot your password?</a>
			<br>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with Ebro</p>
				<button class="ghost" id="signUp">Sign Up</button>
				<br><br><br>

				<h1>Premium Users..!</h1>
				<p>Enter your personal details and start journey with Ebro...
				We will promote your buissness...</p>
				<button class="ghost" id="signUppremium">Premium Sign up</button>
			</div>
		</div>
	</div>
</div>




<script src="{% static 'js/login.js '%}"></script>








<script>
	{% for i in messages %}
	alert('{{ i }}');
	{% endfor %}
    
</script>

{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>E-BRO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,700 '%}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700 '%}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css '%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css '%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css '%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css '%}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css '%}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css '%}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css '%}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css '%}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css '%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css '%}">
	<link rel="stylesheet" href="{% static 'css/stylepop.css '%}">
	<link rel="stylesheet" href="{% static 'css/addb.css '%}">
	<link rel="stylesheet" href="{% static 'css/addb2.css '%}">
	<link rel="stylesheet" href="{% static 'css/login.css '%}">


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js '%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>


<div class="containerloginsignup">
    <!--fbvxb-->
	<div class="col-md-4 col-md-offset-1  login-form">
			
      <input type="submit" value="X" class="btn btn-primary close">
			<form action="{% url 'admin_login' %}" method="POST">
				{% csrf_token %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <h2 class="#drinks">Sign in</h2>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        <br><br>
				<div class="row form-group">
					<div class="col-md-12">
						
						<input type="text" id="fname" name="name" class="form-control" placeholder="Username">
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="col-md-12">
						
						<input type="text" id="lname" name="password" class="form-control" placeholder="Password">
					</div>
				</div>

				
				<div class="form-group text-center">
					<button type="submit" value="Sign in" class="btn btn-primary">Sign in</button>
				</div>
        <center>
          <p id="login2">Don't have an account?<a href="##">Sign up</a></p>
        </center>

			</form>		
		</div>

    
    <div class="col-md-4 col-md-offset-1 signup-form">
			
      <input type="submit" value="X" class="btn btn-primary close2">
			<form action="{% url 'admin_signup' %}" method="POST">
				{% csrf_token %}
       
        <h3 class="#drinks">Sign up</h3>
        &nbsp;

        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        <br>
				    <div class="row form-group">
                    &nbsp;&nbsp;
					<div class="col-md-12">
						<input type="text" name="first_name" id="fname" class="form-control" placeholder="Firstname">
					</div>
					&nbsp;&nbsp;
                    <div class="col-md-12">
						
						<input type="text" name="last_name" id="fname" class="form-control" placeholder="Lastname">
					</div>
					&nbsp;&nbsp;
                    <div class="col-md-12">
						
						<input type="text" name="email" id="fname" class="form-control" placeholder="Email">
					</div>
					&nbsp;&nbsp;
                    <div class="col-md-12">
						
						<input type="number" name="phone" id="fname" class="form-control" placeholder="Phone">
					</div>
					
					&nbsp;&nbsp;
                    <div class="col-md-12">
						
						<input type="text" name="password1" id="fname" class="form-control" placeholder="Password">
					</div>
					&nbsp;&nbsp;
					<div class="col-md-12">
						
						<input type="text" name="password2" id="lname" class="form-control" placeholder="Confirm Password">
					</div>
				</div>

				
				<div class="form-group text-center">
					<input type="submit" id="otp" value="Sign up" class="btn btn-primary">
          <center>
            <p id="signup2"> already a member?<a href="#" >Sign in</a></p>
          </center>
				</div>
        

			</form>		
	</div>

</div>
	        <div class="col-md-2 col-md-offset-1  signup-otp">
			
		
			    <form action="#">
		       
                <div class="otp">
		        <h2 class="#drinks">O T P</h2>
		 
		        <br><br>
				    <div class="row form-group">
					  <div class="col-md-12">
						  
						  <input type="text" id="fname" class="form-control" placeholder="One Time Password">
					  </div>
					  
					  
				    </div>
					<center>
						<p id="signup2"> not getting otp?<a href="#" >Resend</a></p>
					</center>
  
				  
				    <div class="form-group text-center">
					  <input type="submit" value="Validate" class="btn btn-primary">
				    </div>
		  
                </div>
			    </form>	
			    	
		    </div>

	


		
	<div class="colorlib-loader"></div>

	<nav class="colorlib-nav" role="navigation">
		
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<p class="site">www.e-bro.com</p>
		  <ul class="colorlib-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="###"><i class="icon-linkedin"></i></a></li>
							
						</ul>
					</div>
					<div class="col-xs-2">
						<div><a href="home.html" class="ebro"><img src="{% static 'images/ebro1.png '%}" alt="" width="300" height="70"></a></div>
					</div>
					<div class="col-xs-6 text-right">
						
						<ul class="colorlib-social">
							{% if user.is_authenticated %}

								{% if user_profile.image != '' %}
         						<li class="active"><a href="profiles"><img src="{{user_profile.image.url}}" alt="" height="50" width="50" style="border-radius: 50%" /></a></li>
         						{% else %}
         						<li class="active"><a href="profiles"><img src="{% static 'images/pers.png '%}" class="person"></a></li>
         						{% endif %}
							
							{% else %}
							<li><a href="#" id="loginpopup">Signin/Signup</a></li>
							
							
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>


        
		
  <div class="bglinks">
	<div class="row">
	<div class="container">
		<div class="col-xs-12 text-right menu-1 linksall">
		<ul>
			
			<li class="active1"><a href="home" style="color: cornsilk;">Home</a></li>
			<li><a href="deal" style="color: cornsilk;">Deals</a></li>
			<li><a href="job" style="color: cornsilk;">Jobs</a></li>
			<li><a href="product" style="color: cornsilk;">Item</a></li>
			
			{% if user.is_authenticated %}
			<li><a href="dailytask.html" style="color: cornsilk;">Daily Task
			<span class="count">2</span>
			</a></li>
			<li><a href="myads" style="color: cornsilk;">My Ads</a></li>
			<li><a href="user_logout" style="color: cornsilk;">Logout</a></li>
			
			{% endif %}
		</ul>
		

		

		</div>
	</div>
	</div>
</div>
</div>
</div>			
</nav>
	

  
	
   

  <br><br> <br><br><br><br>
		<div id="colorlib-reservation">
			<div class="container">
				<div class="row">
					<div class="col-md-12 search-wrap">
						<form method="post" class="colorlib-form">
		              	<div class="row">
		                <div class="col-md-3">
		                  <div class="form-group">
		                    <label for="date">What:</label>
		                    <div class="form-field">
		                      <i class="icon icon-text"></i>
		                      <input type="textfield" id="date" class="form-control text" placeholder="Keyword,job,tittle,etc">
		                    </div>
		                  </div>
		                </div>
						<div class="col-md-2">
							<div class="form-group">
							  <label for="adults">Country:</label>
							  <div class="form-field">
								<i class="icon icon-arrow-down3"></i>
								<select name="people" id="people" class="form-control">
								  <option value="#">1</option>
								  <option value="#">2</option>
								  <option value="#">3</option>
								  <option value="#">4</option>
								  <option value="#">5+</option>
								</select>
							  </div>
							</div>
						  </div>
						
		                
		                <div class="col-md-2">
		                  <div class="form-group">
		                    <label for="adults">State:</label>
		                    <div class="form-field">
		                      <i class="icon icon-arrow-down3"></i>
		                      <select name="people" id="people" class="form-control">
		                        <option value="#">1</option>
		                        <option value="#">2</option>
		                        <option value="#">3</option>
		                        <option value="#">4</option>
		                        <option value="#">5+</option>
		                      </select>
		                    </div>
		                  </div>
		                </div>
						<div class="col-md-3">
							<div class="form-group">
							  <label for="date">Where:</label>
							  <div class="form-field">
								<i class="icon icon-text"></i>
								<input type="textfield" id="date" class="form-control text" placeholder="Keyword,job,tittle,etc">
							  </div>
							</div>
						</div>
		                
		                <div class="col-md-2">
		                  <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
		                </div>        
		              </div>
		            </form>
					</div>
				</div>
			</div>
		</div>
  		

		<div id="colorlib-rooms" class="colorlib-light-grey">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="owl-carousel owl-carousel2">
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-1.jpg '%}" class="room image-popup-link"></a> 
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Suite</a></h3>
									<p class="price">
										<span class="currency">$</span>
										<span class="price-room">99</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Only 10 rooms are available</li>
										<li><i class="icon-check"></i> Breakfast included</li>
										<li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-2.jpg '%}" class="room image-popup-link"></a>
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Double Room</a></h3>
									<p class="price">
										<span class="currency">$</span>
										<span class="price-room">199</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Perfect for traveling couples</li>
										<li><i class="icon-check"></i> Breakfast included</li>
										<li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-3.jpg '%}" class="room image-popup-link"></a>
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Family Room</a></h3>
									<p class="price">
										<span class="currency">$</span>
										<span class="price-room">249</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Two double beds</li>
										<li><i class="icon-check"></i> Babysitting facilities</li>
										<li><i class="icon-check"></i> 1 free bed available on request</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-4.jpg '%}" class="room image-popup-link"></a>
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Classic Double Room</a></h3>
									<p class="price">
										<span class="currency">$</span>
										<span class="price-room">150</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Only 10 rooms are available</li>
										<li><i class="icon-check"></i> Breakfast included</li>
										<li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-5.jpg '%}" class="room image-popup-link"></a>
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Superior Double Room</a></h3>
									<p class="price">
										<span class="currency">$</span>
										<span class="price-room">200</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Perfect for traveling couples</li>
										<li><i class="icon-check"></i> Breakfast included</li>
										<li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
							<div class="item">
								<a href="#$#"><img src="{% static 'images/room-6.jpg '%}" class="room image-popup-link"></a>
								<div class="desc text-center">
									<span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i></span>
									<h3><a href="rooms-suites.html">Superior Family Room</a></h3>
									<p class="price">
										<span class="currency"><small>$</small></span>
										<span class="price-room">299</span>
										<span class="per">/ per night</span>
									</p>
									<ul>
										<li><i class="icon-check"></i> Perfect for traveling couples</li>
										<li><i class="icon-check"></i> Breakfast included</li>
										<li><i class="icon-check"></i> Price does not include VAT &amp; services fee</li>
									</ul>
									<p><a class="btn btn-primary btn-book">Book now!</a></p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		



			<div id="colorlib-services">
				<div class="container">
					<div class="row">
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-reception"></i>
								</span>
								<h3>24/7 Front Desk</h3>
								<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-herbs"></i>
								</span>
								<h3>Spa Suites</h3>
								<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-car"></i>
								</span>
								<h3>Transfer Services</h3>
								<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-cheers"></i>
								</span>
								<h3>Restaurant &amp; Bar</h3>
								<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	
		
       

		
	

		
		
		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4>E-BRO</h4>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-3 colorlib-widget">
						<h4>Quick Links</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="home.html" style="color: cornsilk;">Home</a></li>
								<li><a href="deals.html">Deals</a></li>
								<li><a href="jobs.html">Jobs</a></li>
								<li><a href="item.html">Item</a></li>
								<li><a href="profile.html">Profile</a></li>
								{% if user.is_superuser %}
								<li><a href="userdata.html">User Data </a></li>
								<li><a href="myads.html">My Ads</a></li>
								<li><a href="login.html">Logout</a></li>
								{% else %}
								<li><a href="dailytask.html">Daily Task</a></li>
								<li><a href="myads.html">My Ads</a></li>
								<li><a href="login.html">Logout</a></li>
								{% endif %}
							</ul>
						</p>
					</div>
					<div class="col-md-3">
						<h4>Recents News & Updates</h4>
						<ul class="colorlib-footer-links">
							<li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
							<li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
							<li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-md-push-1">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="http://luxehotel.com">luxehotel.com</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</footer>
	</div>
	

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>


       


	
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js '%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js '%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js '%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js '%}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js '%}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js '%}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js '%}"></script>
	<script src="{% static 'js/magnific-popup-options.js '%}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/bootstrap-datepicker.js '%}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js '%}"></script>

  <script>
    document.getElementById("loginpopup").addEventListener("click",function(){
      document.querySelector(".container2").style.display = "flex";
    })
  
    document.querySelector(".closeall").addEventListener("click",function(){
      document.querySelector(".container2").style.display = "none";
    })
 


    <script>
      $('.message a').click(function(){
        $('form').animate({height: "toggle",opacity:"toggle"},"slow")
      })
    </script>
  </script>

	</body>
</html>
