{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page4{
		background-color: #99c2ff;
	}
	.active_user_smallpage4{
      color: white;
      background-color: #000;
   }
</style>
  

<div class="container_wideboxes">
	{% if user.is_authenticated %}
	<a href="#"><h3 id="addbutton" class="addbutton">+&nbsp;ADD&nbsp;PRODUCT</h3></a>
	{% endif %}
	<div class="col-md-12 additem-form">
		<form action="{% url 'product' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-md-4">
			<img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeitem-form">

			<div class="form-field col-md-12 deals-pic-circle">
            	<img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">   
            	<input type="file" name="picture" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
		        <label for="file-ip-1" id="uploadBtn">Choose Photo</label>      
		    </div>
		    <br><br><br><br><br><br><br><br><br>

			<div class="col-md-12">
				<label for="fname">Product Name</label>
				<input type="text" name="product_name" id="fname" class="form-control" placeholder="Your Product Name" required="">
			</div>
			<div class="col-md-12">
				<label for="lname">Price</label>
				<input type="text" name="price" id="lname" class="form-control" placeholder="Your Product Price" required="">
			</div>
			<div class="col-md-12">
				<label for="lname">Attachments</label>
				<input type="file" name="attachments" id="lname" class="form-control" placeholder="Your lastname" multiple=""/>
			</div>

		</div>
		<div class="col-md-8">
			<br>
			<div class="col-md-4 wrapper-class">
				<label for="subject">Publish</label>
				<br>
					<input type="radio" id="radio1" name="publish" value="public" checked="checked">
  					<label for="radio1">Public</label>
					<input type="radio" id="radio2" name="publish" value="private">
					<label for="radio2">Private</label>
			</div>
			<div class="col-md-8">
				<br>
				[your product or deal will handle by Ebro-World manually through admin phase in private mode]
			</div>

			<div class="col-md-4 wrapper-class">
				<label for="subject">Type</label>
				<br>
					<input type="radio" id="radio3" name="product_type" value="Single" checked="checked">
  					<label for="radio3">Single</label>
					<input type="radio" id="radio4" name="product_type" value="Multiple">
					<label for="radio4">Multiple</label>
			</div>
			<div class="col-md-8">
				<br>
				[your product can categorize based on brand name or individual by Ebro-World]
			</div>

			<div class="col-md-8">
				<label for="subject">Brand Name</label>
				<input type="text" name="brand_name" id="subject" class="form-control" placeholder="Your Brand Name">
			</div>
			<div class="col-md-4">
				<label for="subject">Stock</label>
				<input type="number" name="stock" value="1" id="subject" class="form-control" placeholder="Product Stock" required="">
			</div>
			<div class="col-md-12">
				<div class="form-group">
				<label>Select Product Category:</label><br>
				<select id="mselect" name="category" class="form-control" multiple required="">
				{% for i in category_details %}
				<option id="jobcategory_value" value="{{i.id}}">{{i.name}}</option>
				{% endfor %}
				</select>
				</div>
			</div>
			<div class="col-md-12">
				<label for="subject">Location</label>
				<select name="location" class="form-control mb-4" style="width: 90%;">
                    <option value="">Select Location</option>
                    {% for i in location_details %}
                      <option value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                      </option> 
                    {% endfor %}
                </select>
			</div>

			<div class="col-md-12">
				<label for="message">Other Details</label>
				<textarea  name="details" value="" id="message" cols="25" rows="2" class="form-control" placeholder="Say something about the product">
				</textarea>
			</div>
			&nbsp;&nbsp;
			<div class="row form-group">
			<div class="form-group text-center"><br><br>
				<button type="submit" value="Add Deal" class="btn btn-primary">Add Product</button>
		
			</div>
			</div>
		</div>
		</form>
	</div>
</div>




		



				<div class="container_wideboxes">
					{% for i in user_products_list %}
					<div class="col-md-4 widebox">
						{% if request.user.is_authenticated %}
						<a href="{% url 'detail_product' i.id %}" class="blog-post">
						{% else %}
						<a href="{% url 'detail_products_unknown' i.id %}" class="blog-post">
						{% endif %}
							{% if i.picture != '' %}
								<span class="img" style="background-image: url({{i.picture.url}});"></span>
		         			{% else %}
		         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
		         			{% endif %}
							<div class="desc">
								<h5 class="h5_style">{{ i.product_name }}</h5>
								{% if i.offer != 0 %}
									<h5><font style="color: #8e9416;">{{ i.offer }}&nbsp;%&nbsp;&nbsp;offer</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$&nbsp;&nbsp;<b style="text-decoration: line-through;">{{ i.oldprice }}</b></h5>
									<h4 style="margin-top: -5px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
								{% else %}
									<h5><font style="color: #8e9416;">{{ i.offer }}&nbsp;%&nbsp;&nbsp;offer</font>
									<h4 style="margin-top: -5px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
								{% endif %}
								<span class="cat" style="line-height: 15px;">{{ i.username.email }}</span><br>
								<span class="cat" style="line-height: 15px;">{{ i.location.name }}</span>
								<span class="date" style="color: red;">{% if i.stock <= 0 %}Out of stock{% else %}&nbsp;{% endif %}</span>
								
							</div>
						</a>
					</div>
					{% endfor %}

				</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;





	<script>
		document.getElementById("addbutton").addEventListener("click",function(){
		  document.querySelector(".additem-form").style.visibility = "visible";
		})
		document.querySelector(".closeitem-form").addEventListener("click",function(){
			document.querySelector(".additem-form").style.visibility = "hidden";
		  })
		
	
	</script>






{% endblock %}

