
{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page7{
		background-color: #99c2ff;
	}
	.active_user_smallpage7{
		color: white;
		background-color: #000;
	}
</style>
  	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


		<div class="container_wideboxes">

			<div class="col-md-12">
				<h2 class="headings">Deals</h2><br><br>
			</div>
			{% for i in user_deals_list %}
			<div class="col-md-4 widebox2">
				<a href="{% url 'detail_view_deals' i.id %}" class="blog-post">
					{% if i.picture != '' %}
						<span class="img" style="background-image: url({{i.picture.url}});"></span>
         			{% else %}
         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
         			{% endif %}
					<div class="desc">
						<h5 class="h5_style">{{ i.deal_name }}</h5><br>
						<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
						<!-- <span class="cat" style="line-height: 15px;">{{ i.brand_name }}</span><br> -->
						<span class="cat" style="line-height: 15px;">{{ i.username.email }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.location.name }}</span>
					</div>
				</a>

<!-- 				<div class="col-12 col-md-8 text-left down">
					<form action="{% url 'detail_view_deals' i.id %}" method="POST">
						{% csrf_token %}
						<input type="hidden" value="{{ i.id }}" name="id_deal">
					<button class="btn4 btn4-2 btn4-sep icon-cart">Edit</button>
					</form>
				</div> -->
				<div class="col-12 col-md-4 text-right">
					<form action="{% url 'delete_deal' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" value="{{ i.id }}" name="id_delete">
					<button class="btn4 btn4-1 btn4-sep icon-cross down_delete">Delete</button>
					</form>
				</div>
			</div>
			{% endfor %}

		</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


		<div class="container_wideboxes">

			<div class="col-md-12">
				<h2 class="headings">Jobs</h2><br><br>
			</div>
			{% for i in user_jobs_list %}
			<div class="col-md-4 widebox2">
				<a href="{% url 'detail_view_jobs' i.id %}" class="blog-post">
					{% if i.picture != '' %}
						<span class="img" style="background-image: url({{i.picture.url}});"></span>
         			{% else %}
         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
         			{% endif %}
					<div class="desc">
						<h5 class="h5_style">{{ i.job_name }}</h5><br>
						<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
						<!-- <span class="cat" style="line-height: 15px;">{{ i.brand_name }}</span><br> -->
						<span class="cat" style="line-height: 15px;">{{ i.username.email }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.location.name }}</span>
					</div>
				</a>
				<div class="col-12 col-md-4 text-right">
						<form action="{% url 'delete_job' %}" method="POST">
							{% csrf_token %}
 						<input type="hidden" value="{{ i.id }}" name="id_delete">
						<button class="btn4 btn4-1 btn4-sep icon-cross down_delete">Delete</button>
    					</form>
				</div>
			</div>
			{% endfor %}

		</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



		<div class="container_wideboxes">

			<div class="col-md-12">
				<h2 class="headings">Products</h2><br><br>
			</div>
			{% for i in user_products_list %}
			<div class="col-md-4 widebox2">
				<a href="{% url 'detail_view_products' i.id %}" class="blog-post">
					{% if i.picture != '' %}
						<span class="img" style="background-image: url({{i.picture.url}});"></span>
         			{% else %}
         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
         			{% endif %}
					<div class="desc">
						<h5 class="h5_style">{{ i.product_name }}</h5><br>
						<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
						<span class="cat" style="line-height: 15px;">{{ i.brand_name }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.username.email }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.location.name }}</span>
					</div>
				</a>
				<div class="col-12 col-md-4 text-right">
						<form action="{% url 'delete_product' %}" method="POST">
							{% csrf_token %}
 						<input type="hidden" value="{{ i.id }}" name="id_delete">
						<button class="btn4 btn4-1 btn4-sep icon-cross down_delete">Delete</button>
    					</form>
				</div>
			</div>
			{% endfor %}

		</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




{% endblock %}