{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page7{
		background-color: #99c2ff;
	}
</style>
  


  <div class="container_deals">
		   <div class="col-md-12">
		   	<br>
			<h2 class="sub_headings">Deals</h2>
			<br><br>
				<div class="row">
					{% for i in user_deal_wishlist %}

					<div class="col-md-3 room-wrap animate-box user_deal_box">
						<center>
						{% if i.deal.picture != '' %}
         				<img src="{{i.deal.picture.url}}" alt="" width="200" height="100" class="image-popup-link" style="margin-top: 10px;" />
         				{% else %}
         				<img src="{% static 'images/assign.png' %}" alt="" width="200" height="100" class="image-popup-link"/>
         				{% endif %}
         				</center>
         				
         					<div class="col-md-10" style="margin-left: -30px;">
								<h3 class="btn3 btn3-1">{{ i.deal.deal_name }}</h3>
								<form action="{% url 'deal_to_task' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.deal.id }}" name="id_deal">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
								

							</div>

							<div class="col-md-2" style="margin-left: -30px;">
								<!-- <button class="btn2 btn2-1 btn2-sep icon-info">Button</button>
								<button class="btn2 btn2-2 btn2-sep icon-cart">Button</button>
								<button class="btn2 btn2-3 btn2-sep icon-heart">Button</button>
								<button class="btn2 btn2-4 btn2-sep icon-send">Button</button> -->
								<h3 class="btn3 btn3-2">$&nbsp;{{ i.deal.price }}</h3>
								<form action="{% url 'delete_wish_deal' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_delete">
								<button class="btn4 btn4-1 btn4-sep icon">Remove</button>
            					</form>

							</div>
						
					</div>
					{% endfor %}


				</div>
			</div>
		</div>



		<div class="container_deals">
		   <div class="col-md-12">
		   	<br>
			<h2 class="sub_headings">Jobs</h2>
			<br><br>
				<div class="row">
					{% for i in user_job_wishlist %}

					<div class="col-md-3 room-wrap animate-box user_deal_box">
						<center>
						{% if i.job.picture != '' %}
         				<img src="{{i.job.picture.url}}" alt="" width="200" height="100" class="image-popup-link" style="margin-top: 10px;" />
         				{% else %}
         				<img src="{% static 'images/assign.png' %}" alt="" width="200" height="100" class="image-popup-link"/>
         				{% endif %}
         				</center>
         				
         					<div class="col-md-10" style="margin-left: -30px;">
								<h3 class="btn3 btn3-1">{{ i.job.job_name }}</h3>
								<form action="{% url 'job_to_task' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.job.id }}" name="id_job">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
								

							</div>

							<div class="col-md-2" style="margin-left: -30px;">
								<!-- <button class="btn2 btn2-1 btn2-sep icon-info">Button</button>
								<button class="btn2 btn2-2 btn2-sep icon-cart">Button</button>
								<button class="btn2 btn2-3 btn2-sep icon-heart">Button</button>
								<button class="btn2 btn2-4 btn2-sep icon-send">Button</button> -->
								<h3 class="btn3 btn3-2">$&nbsp;{{ i.job.price }}</h3>
								<form action="{% url 'delete_wish_job' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_delete">
								<button class="btn4 btn4-1 btn4-sep icon">Remove</button>
            					</form>

							</div>
						
					</div>
					{% endfor %}


				</div>
			</div>
		</div>	

 

		<div class="container_deals">
		   <div class="col-md-12">
		   	<br>
			<h2 class="sub_headings">Products</h2>
			<br><br>
				<div class="row">
					{% for i in user_product_wishlist %}

					<div class="col-md-3 room-wrap animate-box user_deal_box">
						<center>
						{% if i.product.picture != '' %}
         				<img src="{{i.product.picture.url}}" alt="" width="200" height="100" class="image-popup-link" style="margin-top: 10px;" />
         				{% else %}
         				<img src="{% static 'images/assign.png' %}" alt="" width="200" height="100" class="image-popup-link"/>
         				{% endif %}
         				</center>
         				
         					<div class="col-md-10" style="margin-left: -30px;">
								<h3 class="btn3 btn3-1">{{ i.product.product_name }}</h3>
         						<input type="hidden" value="{{ i.product.id }}" name="id_product">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Cart</button>

								

							</div>

							<div class="col-md-2" style="margin-left: -30px;">
								<!-- <button class="btn2 btn2-1 btn2-sep icon-info">Button</button>
								<button class="btn2 btn2-2 btn2-sep icon-cart">Button</button>
								<button class="btn2 btn2-3 btn2-sep icon-heart">Button</button>
								<button class="btn2 btn2-4 btn2-sep icon-send">Button</button> -->
								<h3 class="btn3 btn3-2">$&nbsp;{{ i.product.price }}</h3>
								<form action="{% url 'delete_wish_product' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_delete">
								<button class="btn4 btn4-1 btn4-sep icon">Remove</button>
            					</form>

							</div>
						
					</div>
					{% endfor %}


				</div>
			</div>
		</div>	


		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;






{% endblock %}
