{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page3{
		background-color: #99c2ff;
	}
</style>



	{% if user.is_authenticated %}
	<a href="#"><h3 id="addbutton" class="addbutton">+&nbsp;ADD&nbsp;DEALS</h3></a>
	{% endif %}
	<form action="{% url 'deal' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class=" animate-box deals-form">
			<br>
			<img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closedeal">
			<div class="col-md-4 left_form_deal">
				<br>

				<!-- <div class="image-update-div deals-pic-circle">
					<img src="{% static 'images/menu-9.jpg '%}" id="photo">
					<input type="file" name="picture" id="file">
				</div> -->


				<div class="form-field col-md-12 profile-pic-div deals-pic-circle">
                	<img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">   
                	<input type="file" name="picture" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
			        <label for="file-ip-1" id="uploadBtn">Choose Photo</label>        
			    </div>
			    <br><br><br><br><br><br><br><br><br><br>

				<div class="col-md-12">
					<label for="fname">Deal Name</label>
					<input type="text" name="deal_name" id="fname" class="form-control" placeholder="Your firstname">
				</div>
				<div class="col-md-12">
					<label for="lname">Price</label>
					<input type="text" name="price" id="lname" class="form-control" placeholder="Your lastname">
				</div>
				<div class="col-md-12">
					<label for="lname">Attachments</label>
					<input type="file" name="attachments" id="lname" class="form-control" placeholder="Your lastname" multiple=""/>
				</div>

			</div>
			<div class="col-md-8 right_form_deal">
				<br>
				<div class="col-md-1">
					<label for="subject">Publish</label><br>
					<input type="radio" name="publish" value="public" checked="checked">
					<input type="radio" name="publish" value="private">
				</div>
				<div class="col-md-2">
					<br>
					Public
					<br>Private
				</div>
				<div class="col-md-9">
					<br>[your product or deal will handle by E-bro through private channel]
				</div>
				<div class="col-md-1">
					<label for="subject">Type</label><br>
					<input type="radio" name="deal_type" value="Single" checked="checked">
					<input type="radio" name="deal_type" value="Multiple">
				</div>
				<div class="col-md-2">
					<br>
					Single<br>
					Multiple
				</div>
				<div class="col-md-9">
					<br>[your product can categorize based on brand name or individual]
				</div>
				<div class="col-md-12">
					<label for="subject">Brand Name</label>
					<input type="text" name="brand_name" id="subject" class="form-control" placeholder="Your subject of this message">
				</div>
				<div class="col-md-12">
					<div class="form-group">
					<label>Select Job Category:</label>
					<select id="jobcategory" name="category"
					class="" multiple required="">

					{% for i in category_details %}
					<option id="jobcategory_value" value="{{i.id}}">{{i.name}}</option>
					{% endfor %}
					</select>
					</div>
				</div>
				<div class="col-md-12">
					<label for="subject">Location</label>
					<input type="text" name="location" id="subject" class="form-control" placeholder="Your subject of this message">
				</div>

				<div class="col-md-12">
					<label for="message">Other Details</label>
					<textarea  name="details" value="" id="message" cols="25" rows="2" class="form-control" placeholder="Say something about us">
					</textarea>
				</div>
				&nbsp;&nbsp;
				<div class="row form-group">
				<div class="form-group text-center"><br><br>
					<button type="submit" value="Add Deal" class="btn btn-primary">Add Deal</button>
			
				</div>
				</div>
			</div>
		</div>
	</form>

			





				<div class="container_wideboxes">
					{% for i in user_deals_list %}
					<div class="col-md-4 widebox">
						<a href="{% url 'detail_deal' i.id %}" class="blog-post">
							{% if i.picture != '' %}
								<span class="img" style="background-image: url({{i.picture.url}});"></span>
		         			{% else %}
		         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
		         			{% endif %}
							<div class="desc">
								<h5 class="h5_style">{{ i.deal_name }}</h5>
								<h4><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
								<span class="cat">{{ i.brand_name }}</span>
							</div>
						</a>
						<div class="col-12 col-md-8 text-left down">
							{% if request.user.is_authenticated %}
		 						<form action="{% url 'deal_to_task' %}" method="POST">
									{% csrf_token %}
		 						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Cart</button>
								</form>
								{% else %}
		    					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-2 btn2-sep icon-cart">Add To Cart</button>
		    					</form>
							{% endif %}
						</div>
						<div class="col-12 col-md-4 text-right">
							{% if request.user.is_authenticated %}
								<form action="{% url 'deal_to_wish' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button data-product={{i.id}} data-action="add" class="update-cart btn2 btn2-1 btn2-sep2 icon-heart">Like</button>
            					</form>
            					{% else %}
            					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-1 btn2-sep2 icon-heart">Like</button>
            					</form>
            				{% endif %}
						</div>
					</div>
					{% endfor %}

				</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			


<!-- 		<div class="container_deals">
		   <div class="col-md-12">
				<div class="row">
					{% for i in user_deals_list %}

					<div class="col-md-3 room-wrap animate-box user_deal_box" onclick="location.href='{% url 'detail_deal' i.id %}';">
						<center>
						{% if i.picture != '' %}
         				<a href="{% url 'detail_deal' i.id %}"><img src="{{i.picture.url}}" alt="" width="200" height="100" style="margin-top: 10px;" /></a>
         				{% else %}
         				<a href="{% url 'detail_deal' i.id %}"><img src="{% static 'images/assign.png' %}" alt="" width="200" height="100"/></a>
         				{% endif %}
         				</center>
         				
         					<div class="col-md-10" style="margin-left: -30px;">
								<h3 class="btn3 btn3-1">{{ i.deal_name }}</h3>
								{% if request.user.is_authenticated %}
								<form action="{% url 'deal_to_task' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
            					{% else %}
            					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
            					{% endif %}
            					
								

							</div>

							<div class="col-md-2" style="margin-left: -30px;">
							 <button class="btn2 btn2-1 btn2-sep icon-info">Button</button>
								<button class="btn2 btn2-2 btn2-sep icon-cart">Button</button>
								<button class="btn2 btn2-3 btn2-sep icon-heart">Button</button>
								<button class="btn2 btn2-4 btn2-sep icon-send">Button</button> -->
<!-- 								<h3 class="btn3 btn3-2">$&nbsp;{{ i.price }}</h3>
								{% if request.user.is_authenticated %}
								<form action="{% url 'deal_to_wish' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button class="btn2 btn2-1 btn2-sep icon-heart">Like</button>
            					</form>
            					{% else %}
            					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-1 btn2-sep icon-heart">Like</button>
            					</form>
            					{% endif %}

							</div>
						
					</div>
					{% endfor %}


				</div>
			</div>
		</div>	 --> 
					



		
		

	<script>
		document.getElementById("addbutton").addEventListener("click",function(){
		  document.querySelector(".deals-form").style.display = "flex";
		})
		document.querySelector(".closedeal").addEventListener("click",function(){
			document.querySelector(".deals-form").style.display = "none";
		  })
		
	
	</script>



{% endblock %}