{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page3{
		background-color: #99c2ff;
	}
	.active_user_smallpage3{
		color: white;
		background-color: #000;
	}
</style>






	<div class="container_wideboxes">
		{% if user.is_authenticated %}
		<a href="#"><h3 id="addbutton" class="addbutton">+&nbsp;ADD&nbsp;DEAL</h3></a>
		{% endif %}	
		<div class="col-md-12 additem-form">
			<form action="{% url 'deal' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="col-md-4">
				<img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeitem-form">

				<div class="form-field col-md-12 deals-pic-circle">
                	<img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">   
                	<input type="file" name="picture" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
			        <label for="file-ip-1" id="uploadBtn">Choose Photo</label>        
			    </div>
			    <br><br><br><br><br><br><br><br><br>

				<div class="col-md-12">
					<label for="fname">Deal Name</label>
					<input type="text" name="deal_name" id="fname" class="form-control" placeholder="Your Deal Name" required="">
				</div>
				<div class="col-md-12">
					<label for="lname">Price</label>
					<input type="text" name="price" id="lname" value="0" class="form-control" placeholder="Your Deal Price">
				</div>
				<div class="col-md-12">
					<label for="lname">Attachments</label>
					<input type="file" name="attachments" id="lname" class="form-control" placeholder="Your lastname" multiple=""/>
				</div>
				
			</div>
			<div class="col-md-8">
				<br>
				<div class="col-md-4 wrapper-class">
					<label for="subject">Publish</label>
					<br>
						<input type="radio" id="radio1" name="publish" value="public" checked="checked">
	  					<label for="radio1">Public</label>
						<input type="radio" id="radio2" name="publish" value="private">
						<label for="radio2">Private</label>
				</div>
				<div class="col-md-8">
					<br>
					[your product or deal will handle by Ebro-World manually through admin phase in private mode]
				</div>

				<div class="col-md-4 wrapper-class">
					<label for="subject">Type</label>
					<br>
						<input type="radio" id="radio3" name="deal_type" value="Single" checked="checked">
	  					<label for="radio3">Single</label>
						<input type="radio" id="radio4" name="deal_type" value="Multiple">
						<label for="radio4">Multiple</label>
				</div>
				<div class="col-md-8">
					<br>
					[your product can categorize based on brand name or individual by Ebro-World]
				</div>
				<br>
<!-- 				<div class="col-md-12">
					<label for="subject">Brand Name</label>
					<input type="text" name="brand_name" id="subject" class="form-control" placeholder="Your Brand Name">
				</div> -->
				<div class="col-md-12">
					<div class="form-group">
					<label>Select Deal Category:</label><br>
					<select id="mselect" name="category" class="form-control" multiple required="">
						{% for i in category_details %}
						<option value="{{i.id}}">{{i.name}}</option>
						{% endfor %}
					</select>
					</div>
				</div>
				<div class="col-md-12">
					<label for="subject">Location</label>
					<select name="location" class="form-control mb-4" style="width: 90%;">
	                    <option value="">Select Location</option>
	                    {% for i in location_details %}
	                      <option value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
	                      </option> 
	                    {% endfor %}
	                </select>
				</div>

				<div class="col-md-12">
					<label for="message">Other Details</label>
					<textarea  name="details" value="" id="message" cols="25" rows="2" class="form-control" placeholder="Say something about the deal">
					</textarea>
				</div>
				&nbsp;&nbsp;
				<div class="row form-group">
				<div class="form-group text-center"><br><br>
					<button type="submit" value="Add Deal" class="btn btn-primary">Add Deal</button>
			
				</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	





				<div class="container_wideboxes">
					{% for i in user_deals_list %}
					<div class="col-md-4 widebox">

						<a href="{% url 'detail_deal' i.id %}" class="blog-post">

							{% if i.picture != '' %}
								<span class="img" style="background-image: url({{i.picture.url}});"></span>
		         			{% else %}
		         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
		         			{% endif %}
							<div class="desc">
								<h5 class="h5_style">{{ i.deal_name }}</h5><br>
								<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.price }}</b></h4>
<!-- 								<span class="cat" style="line-height: 15px;">{{ i.brand_name }}</span><br> -->
								<span class="cat" style="line-height: 15px;">{{ i.username.email }}</span><br>
								<span class="cat" style="line-height: 15px;">{{ i.location.name }}</span>
							</div>
						</a>
					</div>
					{% endfor %}

				</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			


<!-- 		<div class="container_deals">
		   <div class="col-md-12">
				<div class="row">
					{% for i in user_deals_list %}

					<div class="col-md-3 room-wrap animate-box user_deal_box" onclick="location.href='{% url 'detail_deal' i.id %}';">
						<center>
						{% if i.picture != '' %}
         				<a href="{% url 'detail_deal' i.id %}"><img src="{{i.picture.url}}" alt="" width="200" height="100" style="margin-top: 10px;" /></a>
         				{% else %}
         				<a href="{% url 'detail_deal' i.id %}"><img src="{% static 'images/assign.png' %}" alt="" width="200" height="100"/></a>
         				{% endif %}
         				</center>
         				
         					<div class="col-md-10" style="margin-left: -30px;">
								<h3 class="btn3 btn3-1">{{ i.deal_name }}</h3>
								{% if request.user.is_authenticated %}
								<form action="{% url 'deal_to_task' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button class="btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
            					{% else %}
            					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-2 btn2-sep icon-cart">Add To Task</button>
            					</form>
            					{% endif %}
            					
								

							</div>

							<div class="col-md-2" style="margin-left: -30px;">
							 <button class="btn2 btn2-1 btn2-sep icon-info">Button</button>
								<button class="btn2 btn2-2 btn2-sep icon-cart">Button</button>
								<button class="btn2 btn2-3 btn2-sep icon-heart">Button</button>
								<button class="btn2 btn2-4 btn2-sep icon-send">Button</button> -->
<!-- 								<h3 class="btn3 btn3-2">$&nbsp;{{ i.price }}</h3>
								{% if request.user.is_authenticated %}
								<form action="{% url 'deal_to_wish' %}" method="POST">
									{% csrf_token %}
         						<input type="hidden" value="{{ i.id }}" name="id_deal">
								<button class="btn2 btn2-1 btn2-sep icon-heart">Like</button>
            					</form>
            					{% else %}
            					<form action="#">
								<button id="loginpopup" class="update-cart btn2 btn2-1 btn2-sep icon-heart">Like</button>
            					</form>
            					{% endif %}

							</div>
						
					</div>
					{% endfor %}


				</div>
			</div>
		</div>	 --> 
					



		
		

	<script>
		document.getElementById("addbutton").addEventListener("click",function(){
		  document.querySelector(".additem-form").style.visibility = "visible";
		})
		document.querySelector(".closeitem-form").addEventListener("click",function(){
			document.querySelector(".additem-form").style.visibility = "hidden";
		})
	</script>





{% endblock %}