{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
	.active_user_page5{
		background-color: #99c2ff;
	}
	.active_user_smallpage5{
		color: white;
		background-color: #000;
	}
</style>
  	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<div class="col-md-12">
	<h2 class="headings">Deals</h2><br><br>
</div>
		<div class="container_wideboxes">
			{% for i in daily_deals_list %}
			<div class="col-md-4 widebox">
				<a href="#" class="blog-post">
					{% if i.deal.picture != '' %}
						<span class="img" style="background-image: url({{i.deal.picture.url}});"></span>
         			{% else %}
         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
         			{% endif %}
					<div class="desc">
						<h5 class="h5_style">{{ i.deal.deal_name }}</h5><br>
						<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.deal.price }}</b></h4>
						<span class="cat" style="line-height: 15px;">{{ i.deal.brand_name }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.deal.username.email }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.deal.location }}</span>
					</div>
				</a>
				<div class="col-12 col-md-4 text-right">
						<form action="{% url 'delete_assaigned_deal' %}" method="POST">
							{% csrf_token %}
 						<input type="hidden" value="{{ i.id }}" name="id_delete">
						<button class="btn4 btn4-1 btn4-sep icon-cross down_delete">Delete</button>
    					</form>
				</div>
			</div>
			{% endfor %}

		</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="col-md-12">
	<h2 class="headings">Jobs</h2><br><br>
</div>
		<div class="container_wideboxes">
			{% for i in daily_jobs_list %}
			<div class="col-md-4 widebox">
				<a href="#" class="blog-post">
					{% if i.job.picture != '' %}
						<span class="img" style="background-image: url({{i.job.picture.url}});"></span>
         			{% else %}
         				<span class="img" style="background-image: url({% static 'images/assign.png' %});"></span>
         			{% endif %}
					<div class="desc">
						<h5 class="h5_style">{{ i.job.job_name }}</h5><br>
						<h4 style="margin-top: 10px;"><b>$&nbsp;&nbsp;{{ i.job.price }}</b></h4>
						<span class="cat" style="line-height: 15px;">{{ i.job.brand_name }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.job.username.email }}</span><br>
						<span class="cat" style="line-height: 15px;">{{ i.job.location }}</span>
					</div>
				</a>
				<div class="col-12 col-md-4 text-right">
						<form action="{% url 'delete_assaigned_job' %}" method="POST">
							{% csrf_token %}
 						<input type="hidden" value="{{ i.id }}" name="id_delete">
						<button class="btn4 btn4-1 btn4-sep icon-cross down_delete">Delete</button>
    					</form>
				</div>
			</div>
			{% endfor %}

		</div>					
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
		

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;





<!-- 

		    <div class="container">
		    	<h2>Products</h2>
				<div class="row">
					{% for i in user_products_list %}
					<div class="col-md-2 room-wrap animate-box">
						{% if i.picture != '' %}
         				<img src="{{i.picture.url}}" alt="" width="150" height="150" class="image-popup-link"/>
         				{% else %}
         				<img src="{% static 'images/assign.png' %}" alt="" width="150" height="150" class="image-popup-link"/>
         				{% endif %}
						<div class="desc text-center">
							<span class="share"><img src="{% static 'images/share.png' %}" alt="" width="25" height="25"></span>
							<h5><a href="rooms-suites.html">{{ i.product_name }}</a></h5>
							<p class="price">
								<span class="currency currency-menu">$</span>
								<span class="price-room price-menu">{{ i.price }}</span>
							</p>
							<p><a href="{% url 'detail_view_products' i.id %}">edit</a></p>

							<form action="{% url 'delete_product' %}" method="POST">
								{% csrf_token %}

         					<input type="hidden" value="{{ i.id }}" name="id_delete">
         					<button>Delete</button>
            				</form>
							<p><a class="btn btn-primary btn-book">Product</a></p>

						</div>
					</div>
					{% endfor %}
					
					
					
					&nbsp;&nbsp;&nbsp;&nbsp;

			    </div>
		    </div>
		
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 -->





{% endblock %}



