{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
   .active_user_page11{
      background-color: #99c2ff;
   }
   .active_user_smallpage11{
      color: white;
      background-color: #000;
   }
</style>
  



<div class="container_wideboxes">


<!--             <table class="table-users" cellspacing="0" style="width: 100%;">
               <tr class="header">
               <center>
               <th width="5%"><center>#</center></th>
               <th width="75%"><center>Notifications</center></th>
               <th width="20%"><center>Date</center></th>
               </center>
               </tr>

               {% for i in personal_notifications_list %}
               <tr class="row_height">
               <td><center>{{ forloop.counter }}</center></td></center></td>
               <td><p style="word-break: break-all;">{{ i.messages }}</p></td>
               <td><center>{{ i.created_at }}</center></td>
         
               </tr>
               {% endfor %}
            </table> -->



   <div class="col-md-12 mobile_notifications">
   		<div class=" animate-box ">
   			 <table class="table-users" cellspacing="0" style="width: 100%;">
         			<tr class="header">
         			<center>
         		 	<th width="5%"><center>#</center></th>
            		<th width="75%"><center>Notification</center></th>
            		<th width="20%"><center>Date</center></th>
            		</center>
         			</tr>

         			{% for i in personal_notifications_list %}
         			<tr class="row_height">
         	 		<td><center>{{ forloop.counter }}</center></td></center></td>
            		<td><p style="word-break: break-all;">{{ i.messages }}</p></td>
            		<td><center>{{ i.created_at }}</center></td>
           	
         			</tr>
         			{% endfor %}
      			</table>
   		</div>
   </div>
</div>







{% endblock %}



