{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/zh-TW.min.js" integrity="sha512-whWyZS4LtoXu4LzFJbHIgL9Cr7Sf2+KyeEAGumtXN+8U234v1R89monfd9PLYnC0TNBArmPnkFOVo8ShuMpZaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<style>
   .active_user_page13{
      background-color: #99c2ff;
   }
   .active_user_smallpage13{
      color: white;
      background-color: #000;
   }
</style>


  <div class="container_wideboxes">

    <div class="col-md-12 col-md-push-3 user_profileedit_form">
      <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeprofile">
        <form action="{% url 'profiles' %}" method="POST">
          {% csrf_token %}
          <br><br>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">First Name</label>
                    <input type="text" name="first_name" id="fname" class="form-control" placeholder="Your First Name" value="{{ user.first_name }}">
                </div>
                <div class="col-md-6">
                    <label for="lname">Last Name</label>
                    <input type="text" name="last_name" id="lname" class="form-control" placeholder="Your Last Name" value="{{ user.last_name }}">
                </div>
            </div>
      
            <div class="row col-md-12">
                <div class="col-md-12">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Your Email Id" value="{{ user.email }}" disabled>
                </div>
            </div>
      
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Phone</label>
                    <input type="text" id="fname" name="phone" class="form-control" placeholder="Your Contact Number" value="{{ user_profile.phone }}">
                </div>
                <div class="col-md-6">
                    <label for="lname">Alternative Phone</label>
                    <input type="text" id="lname" name="alternative_phone" class="form-control" placeholder="Your Secondary Phone Number" value="{{ user_profile.alternative_phone }}">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Date of Birth</label>
                    <input type="text" id="fname" name="dob" class="form-control" placeholder="Your Date of Birth" value="{{ user_profile.dob }}">
                </div>
                <div class="col-md-6">
                    <label for="lname">Adhar/Id</label>
                    <input type="text" id="lname" name="adhar_id" class="form-control" placeholder="Your Adhar Id" value="{{ user_profile.adhar_id }}">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Profession</label>
                    <select name="profession" class="form-control mb-4" style="width: 90%;">
                        {% for i in profession_details %}
                          <option {% if i.id == user_profile.profession.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                          </option> 
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="lname">Location</label>
                    <select name="location" class="form-control mb-4" style="width: 90%;">
                        {% for i in location_details %}
                          <option {% if i.id == user_profile.location.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                          </option> 
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row col-md-12">
              <div class="col-md-6">
                  <label for="fname">Qualification</label>
                  <input type="text" id="fname" name="qualification" class="form-control" placeholder="Your Qualification" value="{{ user_profile.qualification }}">
              </div>
              <div class="col-md-6">
                  <label for="lname">Hobbies</label>
                  <input type="text" id="lname" name="hobbies" class="form-control" placeholder="Your Hobbies" value="{{ user_profile.hobbies }}">
              </div>
          </div>
          <div class="row col-md-12">
              <div class="col-md-12">
                  <label for="message">Summary/Bio</label>
                  <textarea id="message" cols="25" rows="4" class="form-control" name="summary" placeholder="Say something about you..." value="">{{ user_profile.summary }}</textarea>
              </div>
          </div>
          <div class="form-group">
              <input type="submit" value="Update Profile" class="btn btn-primary">
          </div>
        </form>
    </div>




      <div class="col-md-8 profile_widebox">

        <div class="col-md-4">
            <form action="{% url 'update_user_profile_pic' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="profilepic_box">
                {% if user_profile.image != '' %}
                   <img src="{{user_profile.image.url}}" id="file-ip-1-preview">
                {% else %} 
                   <img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">
                {% endif %}
                  <input type="file" name="img" id="file-ip-1" accept="image/*" onchange="showPreview(event);" required>
                  <label type="submit" for="file-ip-1" id="uploadBtn">Choose Photo</label>
              </div><br><br><br><br><br><br><br><br><br><br><br><br>
              <div class="col-md-12 uploadBtn_mobile" style="margin-left: -25px;">
                  <button type="submit" class="btn btn-primary btn-block">Update Profile Pic</button><br>
              </div>
            </form>
        </div>

        <div class="col-md-8">
          <img src="{% static 'images/edits.png '%}" id="editprofile" class="edit_profile_button">
            <div class="desc" style="margin-top: 20px;margin-left: -40px;">
              <h5 class="h5_style_big">First Name &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.first_name }}</h5><br>
              <h5 class="h5_style_big">Last Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.last_name }}</h5><br>
              <h5 class="h5_style_big">Email Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.email }}</h5><br>
              <h5 class="h5_style_big">Refferal Id &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user_profile.myrefferalid }}</h5><br>
              <br>
                <div class="col-md-6 h5_profile_style_mobile1">
                  <h5 class="h5_profile_style">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user_profile.phone }}</h5><br>
                  <h5 class="h5_profile_style">Date of Birth&nbsp;:&nbsp;{{ user_profile.dob }}</h5><br>
                  <h5 class="h5_profile_style">Profession&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user_profile.profession.name }}</h5><br>
                  <h5 class="h5_profile_style">Qualification&nbsp;:&nbsp;{{ user_profile.qualification }}</h5><br>
                </div>
                <div class="col-md-6 h5_profile_style_mobile2">
                  <h5 class="h5_profile_style">Phone 2&nbsp;&nbsp;:&nbsp;{{ user_profile.alternative_phone }}</h5><br>
                  <h5 class="h5_profile_style">Adhar Id&nbsp;:&nbsp;{{ user_profile.adhar_id }}</h5><br>
                  <h5 class="h5_profile_style">Location&nbsp;:&nbsp;{{ user_profile.location.name }}</h5><br>
                  <h5 class="h5_profile_style">Hobbies&nbsp;&nbsp;:&nbsp;{{ user_profile.hobbies }}</h5><br>
                  <br>
                </div>
              <h5 class="h5_style_big">Summary/Bio&nbsp;:&nbsp;</h5><p class="h5_style_big_p" style="word-break: break-all;line-height: 20px;">{{ user_profile.summary }}</p><br>
        </div>
      </div>

  </div>








  <div class="container_wideboxes">
      <div class="col-md-4 wallet-form">
        <br>
        {% if user_profile.usertype == "free" %}
        <form action="{% url 'premium_signup_payment_upgrade' %}" method="POST">
          {% csrf_token %}
          <button class="btn2 btn2-2 btn2-sep4">Upgrade&nbsp;to&nbsp;Premium&nbsp;Account</button>
        </form>
        {% endif %}
        <div class="col-md-12">
            <h4 class="btn3 btn3-2">My Wallet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;$&nbsp;&nbsp;{{user_profile.wallet}}</h4><br><br>
            <h4 class="btn3 btn3-2">My Coins&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{user_profile.coins}}</h4><br><br>
        </div>
          {% if user_profile.coins >= 100 %}
          <form action="{% url 'voucher_claim' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="coins" class="form-control" value="{{user_profile.coins}}">
            <div class="row col-md-14">
              <button class="btn5 btn5-1 btn5-sep" id="sendmoney" style="width: 98%;">Voucher Claim</button>
            </div>
          </form>
          {% endif %}

          <div class="col-md-12" style="margin-left: -20px;">
            <div class="col-md-6">
              <a href="#" id="topup" class="btn2 btn2-2 btn2-sep4"><center>Recharge</center></a>
            </div>
            <div class="col-md-6">
              <a href="{% url 'retrieve_money' %}" id="retrieve" class="btn2 btn2-2 btn2-sep4"><center>Retrieve</center></a>
            </div>
          </div>
          <div class="row col-md-12">
            <button class="btn5 btn5-1 btn5-sep" id="sendmoney" style="width: 98%;">Send Money</button>
          </div>
          <div class="row topup_form">
            <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closetopup">
            <form action="{% url 'topup_payment' %}" method="POST">
              {% csrf_token %}
              <br><br>
              <div class="col-md-12">
                Username:<input type="text" name="username" id="get_amount" class="form-control" value="{{request.user.username}}" placeholder="{{request.user.username}}" required="">
                Amount:<input type="text" name="amount" id="get_amount" class="form-control" value="" placeholder="Recharge/Top-up Amount" required="">
              </div>
              <br><br>
              <div class="col-md-12">
                <button class="btn2 btn2-2 btn2-sep5"><center>Top&nbsp;up</center></button>
              </div>
            </form>

          </div>

          <div class="row">
              <br><br>
            <div class="col-md-12">
              <h4 class="sub_headings">&nbsp;&nbsp;My Refferals</h4><br><br>
                  <table class="table-users" cellspacing="0" style="margin-left: -10px;width: 105%;">
                    {% for i in my_refferals %}
                      <tr style="font-size: 13px;">
                       <td width="5%"><center>{{ forloop.counter }}</center></td>
                       <td width="10%"><center>
                        {% if i.image != '' %}
                        <img src="{{i.image.url}}" alt="" height="50" width="50"/>
                        {% else %}
                        <img src="{% static 'images/assign.png' %}" alt="" height="50" width="50"/>
                        {% endif %}
                       </center></td>
                       <td width="85%">&nbsp;{{ i.username.username }}</td>
                    {% endfor %}                       
                 </table>
            </div>

          </div>

        </div>
      </div>
    </div>














      <div class="col-md-7 sendmoney_form">
        <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closesendmoney">
        <form action="{% url 'sendmoney' %}" method="POST">
          {% csrf_token %}
          <br><br>
        <div class="col-md-12 sendmoney_form_inner">
          Amount:<input type="number" name="amount" class="form-control" value="" required>
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12">
            <table cellspacing="0" class="table_sendmoney">
              <tr>
                <center>
                 <th width="3%"><center></center></th>
                 <th class="no_display" width="7%"><center></center></th>
                 <th width="30%"><center>User Name</center></th>
                 <th class="no_display" width="30%"><center>Email</center></th>
                 <th class="no_display" width="20%"><center>Phone</center></th>
                 <th class="no_display" width="10%"><center>Type</center></th> 
                 </center>
              </tr>

              {% for i in all_profiles %}
              <tr class="sendmoney_form_inner" style="font-size: 15px;height: -10px;">
                 <td><center><input type="radio" style="width: 20px;height: 20px;" id="vehicle1" name="user_id" value="{{ i.username.id }}"></center></td>
                 <td class="no_display"><center>
                  {% if i.image != '' %}
                  <img src="{{i.image.url}}" alt="" height="35" width="35" style="border-radius: 50%" />
                  {% else %}
                  <img src="{% static 'images/assign.png' %}" alt="" height="35" width="35" style="border-radius: 50%" />
                  {% endif %}
                 </center></td>
                 <td>&nbsp;{{ i.username.username }}</td>
                 <td class="no_display">&nbsp;{{ i.username.email }}</td>
                 <td class="no_display">&nbsp;{{ i.phone }}</td>
                 <td class="no_display"><center>{{ i.usertype }}</center></td>

              </tr>
              {% endfor %}
            </table>
          
        </div>
        <div class="col-md-12">
          <br>
        </div>
        <div class="col-md-12 sendmoney_form_inner">
          <button class="btn2 btn2-2 btn2-sep4">Top-up</button>
        </div>
        </form>

      </div>




<!-----------------------------------------------------------------------------------------------------------------------------
           <div class="col-md-12">
            <div class="col-md-12 topup_form">
            <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closetopup">
              <form action="{% url 'topup_payment' %}" method="POST">
                {% csrf_token %}
              <div class="col-md-12">
                Username:<input type="text" name="username" id="get_amount" class="form-control" value="{{request.user.username}}" required>
                Amount:<input type="text" name="amount" id="get_amount" class="form-control" value="" required><br>
              </div>
              <br><br>
              <div class="col-md-12">
               <button class="btn2 btn2-2 btn2-sep4">Top-up</button>
              </div>
              </form>
                <br><br>
              <div id="paypal-button-container" style="height: auto;"></div> 
            </div>  
          </div> 
          ----------------------------------------------------------------------------------------------------------- -->





   <div class="container_wideboxes">
      <div class="col-md-4 address_widebox">

            <div class="col-md-12 col-md-push-3 user_address_form">
              <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeaddress">
              <form action="{% url 'add_address' %}" method="POST">
                {% csrf_token %}
                <br><br>
                  <div class="row">
                      <div class="col-md-6">
                          <label for="fname">First Name</label>
                          <input type="text" name="first_name" id="fname" class="form-control" placeholder="Your First Name" value="{{ user.first_name }}" required="">
                      </div>
                      <div class="col-md-6">
                          <label for="lname">Last Name</label>
                          <input type="text" name="last_name" id="lname" class="form-control" placeholder="Your Last Name" value="{{ user.last_name }}">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label for="fname">Country</label>
                          <select id="country" name="country" class="form-control mb-4" style="width: 90%;" required="">
                              {% for i in main_location_list %}
                                <option value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                                </option> 
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-md-6">
                          <label for="lname">State</label>
                          <select id="state" name="state" class="form-control mb-4" style="width: 90%;" required="">
                              {% for i in sub_location_list %}
                                <option value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                                </option> 
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label for="fname">District</label>
                          <select name="district" class="form-control mb-4" style="width: 90%;" required="">
                              {% for i in microsub_location_list %}
                                <option value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                                </option> 
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-md-6">
                          <label for="lname">Postal Code</label>
                          <input type="text" id="lname" name="postalcode" class="form-control" placeholder="Select Postal Code" value="" required="">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <label for="fname">Phone</label>
                          <input type="text" id="fname" name="phone" class="form-control" placeholder="Your Contact Number" value="{{ user_profile.phone }}" required="">
                      </div>
                      <div class="col-md-6">
                          <label for="lname">Alternative Phone</label>
                          <input type="text" id="lname" name="alternative_phone" class="form-control" placeholder="Your Secondary Phone Number" value="{{ user_profile.alternative_phone }}">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                          <label for="fname">Address Line 1</label>
                          <input type="text" id="fname" name="address_line_1" class="form-control" placeholder="Your Address Line 1" value="" required="">
                      </div>
                      <div class="col-md-12">
                          <label for="lname">Address Line 2</label>
                          <input type="text" id="lname" name="address_line_2" class="form-control" placeholder="Your Address Line 2" value="">
                      </div>
                  </div>
                  <br>
                  
                  <div class="form-group">
                      <input type="submit" value="Add Address" class="btn btn-primary">
                  </div>
              </form>
                          
            </div>


        <br>
        <img src="{% static 'images/address1.png '%}" id="addaddress" class="add_address">
        <br><br>
        {% for i in user_address %}
        <h2 class="h5_style">Address&nbsp;{{ forloop.counter }}</h2><br>
          <h4 class="h5_profile_style">First Name&nbsp;&nbsp;:&nbsp;{{ i.first_name }}</h4><br>
          <h4 class="h5_profile_style">Last Name&nbsp;&nbsp;:&nbsp;{{ i.last_name }}</h4><br>
          <h3 class="h5_profile_style">Country&nbsp;&nbsp;:&nbsp;{{ i.country }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State&nbsp;&nbsp;:&nbsp;{{ i.state }}</h3><br>
          <h3 class="h5_profile_style">District&nbsp;&nbsp;:&nbsp;{{ i.district }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pin&nbsp;&nbsp;:&nbsp;{{ i.postalcode }}</h3><br>
          <h3 class="h5_profile_style">Phone&nbsp;&nbsp;:&nbsp;{{ i.phone }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone 2&nbsp;&nbsp;:&nbsp;{{ i.alternative_phone }}</h3><br>
          <h3 class="h5_profile_style">Address Line 1&nbsp;&nbsp;:&nbsp;{{ i.address_line_1 }}</h3><br>
          <h3 class="h5_profile_style">Address Line 2&nbsp;&nbsp;:&nbsp;{{ i.address_line_2 }}</h3><br><br>
        {% endfor %}
      </div>

  </div>












        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<!--        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		<div id="colorlib-reservation">
			<div class="container">
				<div class="row">
					<div class="col-md-12 search-wrap">
						<form method="post" class="colorlib-form">
		              	<div class="row">
						<div class="col-md-3"><br>
							<ul class="colorlib-social">
								<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
								<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
								<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
									
							</ul> 
						</div>
		                <div class="col-md-5">
		                  <div class="form-group">
		                    <label for="date">Invite Link:</label>
		                    <div class="form-field">
		                      <i class="icon icon-text"></i>
		                      <input type="textfield" id="date" class="form-control text" placeholder="Keyword,job,tittle,etc">
		                    </div>
		                  </div>
		                </div>
						
		                <div class="col-md-2">
		                  <div class="form-group">
		                    <label for="date">Refferal Code:</label>
		                    <div class="form-field">
		                      <i class="icon location"></i>
		                      <input type="textfield" id="date" class="form-control text" placeholder="city,state, or pincode">
		                    </div>
		                  </div>
		                </div>
		                
		                
		                <div class="col-md-2">
		                  <input type="submit" name="submit"  value="Share" class="btn btn-primary btn-block">
		                </div> 
						      
		              </div>
		            </form>
					</div>
				</div>
			</div>
		</div>
	

        <br><br><br><br><br> -->






<!-- <script src="{% static 'js/pro_pic.js '%}"></script> -->
    

	<!-- <script>
		//declairing html elements

const imgDiv = document.querySelector('.profile-pic-circle');
const img = document.querySelector('#photo');
const file = document.querySelector('#file');
const uploadBtn = document.querySelector('#uploadBtn');

// if user hover on profile pic
imgDiv.addEventListner('mouseenter', function()
{
	uploadBtn.style.display = "block"
});

// if user hover out from profile pic
imgDiv.addEventListner('mouseleave', function()
{
	uploadBtn.style.display = "none"
});


//image showing functionality
//when we choose a aphoto to upload
file.addEventListner('change', function(){
	//this refer to file
	const choosedFile = this.files[0];
	if (choosedFile) {
		const reader = new FileReader();//filereader is a predefined function of js
		reader.addEventListner('load', function(){
			img.setAttribute('src', reader.result);
		});

		reader.readAsDataURL(choosedFile);
	}
});


	</script> -->



		<script>
		document.getElementById("editprofile").addEventListener("click",function(){
		  document.querySelector(".user_profileedit_form").style.display = "flex";
		})
		document.querySelector(".closeprofile").addEventListener("click",function(){
			document.querySelector(".user_profileedit_form").style.display = "none";
		 })
		
	
		</script>


		<script>
		document.getElementById("addaddress").addEventListener("click",function(){
		  document.querySelector(".user_address_form").style.display = "flex";
		})
		document.querySelector(".closeaddress").addEventListener("click",function(){
			document.querySelector(".user_address_form").style.display = "none";
		 })
      document.querySelector(".addaddress").addEventListener("click",function(){
      document.querySelector(".addaddress").style.display = "none";
     })
		  document.querySelector(".closeaddress").addEventListener("click",function(){
      document.querySelector(".addaddress").style.display = "flex";
     })
	
		</script>


    <script>
      document.getElementById("topup").addEventListener("click",function(){
        document.querySelector(".topup_form").style.display = "flex";
      })
      document.querySelector(".closetopup").addEventListener("click",function(){
        document.querySelector(".topup_form").style.display = "none";
       })
      
    
    </script>


    <script>
      document.getElementById("retrieve").addEventListener("click",function(){
        document.querySelector(".retrieve_form").style.display = "flex";
      })
      document.querySelector(".closeretrieve").addEventListener("click",function(){
        document.querySelector(".retrieve_form").style.display = "none";
       })
      
    
    </script>

    <script>
      document.getElementById("sendmoney").addEventListener("click",function(){
        document.querySelector(".sendmoney_form").style.display = "flex";
      })
      document.querySelector(".closesendmoney").addEventListener("click",function(){
        document.querySelector(".sendmoney_form").style.display = "none";
       })
      
    
    </script>




<!--   <script>
    $(document).ready(function()
    {
      var $select1=$('#country'),
          $select2=$('#state'),
          $options=$select2.find('option');
          $select1.on('change',function()
          {
            $select2.html($options.filter('[value="'+this.value+'"]'));
            ("option[value='" + data.id + "']")
          }).trigger('change');
    });
  </script>

  <script>
    $(document).ready(function()
    {
      $("#country").select2({

      });
      $("state").select2({
        
      });
    });
  </script> -->




{% endblock %}