{% extends 'user dashboard/user_dashboard.html'%}

{% block content %}

{% load static %}

<style>
   .active_user_page12{
      background-color: #99c2ff;
   }
   .active_user_smallpage12{
      color: white;
      background-color: #000;
   }
</style>

  <div class="container_wideboxes">


  			<br>
			<div class="container">
				<div class="row">
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-reception"></i>
							</span>
							<h3>24/7 Front Desk</h3>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-herbs"></i>
							</span>
							<h3>User Friendly</h3>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-car"></i>
							</span>
							<h3>Transfer Services</h3>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
						</div>
					</div>
					<div class="col-md-3 animate-box text-center">
						<div class="services">
							<span class="icon">
								<i class="flaticon-cheers"></i>
							</span>
							<h3>Customer &amp; Dealer</h3>
							<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
						</div>
					</div>
				</div>
			</div>




			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="about animate-box">
							<h2>Welcome to Ebro-World</h2>
							<h3>About us</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
							<h3>why Premium user?</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<h3>What is deal</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<h3>What is job</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<h3>What is product</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<h3>What is daily task</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="{% static 'images/img_bg_5.jpg' %}" alt="Free HTML5 Bootstrap Template by colorlib.com"><br>
						<img class="img-responsive" src="{% static 'images/img_bg_5.jpg' %}" alt="Free HTML5 Bootstrap Template by colorlib.com"><br>
						<img class="img-responsive" src="{% static 'images/img_bg_5.jpg' %}" alt="Free HTML5 Bootstrap Template by colorlib.com">
					</div>

				</div><br>
			</div>

			<div class="col-md-12">
				<div class="col-md-6">
					<h2>Careers at Ebro-World</h2>
					<h3>Work with us!</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					<h5>What is Delivery partner</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>What is Dealer</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>What is Customer care</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>What is Other jobs</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

				</div>

				<div class="col-md-6">
					<h3>Get In Touch</h3>
					<form action="{% url 'add_careers' %}" method="POST">
          				{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">First Name</label>
								<input type="text" name="first_name" id="fname" class="form-control" placeholder="Your First Name" value="{{ user.first_name }}" required="">
							</div>
							<div class="col-md-6">
								<label for="lname">Last Name</label>
								<input type="text" name="last_name" id="lname" class="form-control" placeholder="Your Last Name" value="{{ user.last_name }}">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" class="form-control" placeholder="Your Email Id" value="{{ user.email }}" required="">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
			                    <label for="fname">Phone</label>
			                    <input type="text" id="fname" name="phone" class="form-control" placeholder="Your Contact Number" value="{{ user_profile.phone }}" required="">
			                </div>
			            </div>

			            <div class="row form-group">
							<div class="col-md-12">
								<label for="email">Applying Position</label>
								<select name="position" class="form-control mb-4" style="width: 90%;" required="">
			                          <option value="dealer" selected="">Dealer &nbsp;&nbsp;&nbsp;
			                          </option> 
			                          <option value="customer_care">Customer care &nbsp;&nbsp;&nbsp;
			                          </option> 
			                          <option value="job">Job &nbsp;&nbsp;&nbsp;
			                          </option> 
			                          <option value="delivery_partner">Delivery Partner &nbsp;&nbsp;&nbsp;
			                          </option> 
			                    </select>
							</div>
						</div>


						<div class="row form-group">
							<div class="row col-md-12">
				                <div class="col-md-6">
				                    <label for="fname">Profession</label>
				                    <select name="profession" class="form-control mb-4" style="width: 90%;" required="">
				                        {% for i in profession_details %}
				                          <option {% if i.id == user_profile.profession.id %} selected {% endif %} value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
				                          </option> 
				                        {% endfor %}
				                    </select>
				                </div>
				                <div class="col-md-6">
				                    <label for="lname">Location</label>
				                    <select name="location" class="form-control mb-4" style="width: 90%;" required="">
				                        {% for i in location_details %}
				                          <option {% if i.id == user_profile.location.id %} selected {% endif %} value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
				                          </option> 
				                        {% endfor %}
				                    </select>
				                </div>
           			 		</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">Message/Bio</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about you"></textarea>
							</div>
						</div>
						<div class="form-group text-center">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>	
				</div>
			</div>


			<br><br><br><br>
			<br><br>
			<br><br>&nbsp;
			<br><br>
			<br><br>


			<div class="col-md-12">
				<div class="col-md-6">
					<h2>Invest in Ebro-World</h2>
					<h3>Join with us!</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					<h5>What is our goal!</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>How we work!</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>Our employees!</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>Summary</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

				</div>
				<br><br>
				<br><br>

				<div class="col-md-6">
					<h3>Invest Enquiry</h3>
					<form action="{% url 'add_invest' %}" method="POST">
          				{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">First Name</label>
								<input type="text" name="first_name" id="fname" class="form-control" placeholder="Your First Name" value="{{ user.first_name }}" required="">
							</div>
							<div class="col-md-6">
								<label for="lname">Last Name</label>
								<input type="text" name="last_name" id="lname" class="form-control" placeholder="Your Last Name" value="{{ user.last_name }}">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" class="form-control" placeholder="Your Email Id" value="{{ user.email }}" required="">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
			                    <label for="fname">Phone</label>
			                    <input type="text" id="fname" name="phone" class="form-control" placeholder="Your Contact Number" value="{{ user_profile.phone }}" required="">
			                </div>
			            </div>

			            <div class="row form-group">
							<div class="col-md-12">
								<label for="email">Investment Amount</label>
								<input type="text" name="amount" id="email" class="form-control" placeholder="Your investment amount" value="" required="">
							</div>
						</div>


						<div class="row form-group">
							<div class="row col-md-12">
				                <div class="col-md-6">
				                    <label for="fname">Profession</label>
				                    <select name="profession" class="form-control mb-4" style="width: 90%;" required="">
				                        {% for i in profession_details %}
				                          <option {% if i.id == user_profile.profession.id %} selected {% endif %} value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
				                          </option> 
				                        {% endfor %}
				                    </select>
				                </div>
				                <div class="col-md-6">
				                    <label for="lname">Location</label>
				                    <select name="location" class="form-control mb-4" style="width: 90%;" required="">
				                        {% for i in location_details %}
				                          <option {% if i.id == user_profile.location.id %} selected {% endif %} value="{{ i.name }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
				                          </option> 
				                        {% endfor %}
				                    </select>
				                </div>
           			 		</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">Message/Bio</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about you"></textarea>
							</div>
						</div>
						<div class="form-group text-center">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>	
				</div>

			</div>





			<br><br><br><br>
			<br><br>
			<br><br>&nbsp;
			<br><br>
			<br><br>


			<div class="col-md-12">
				<div class="col-md-6">
					<h2>Feedbacks to Ebro-World!</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					<h5>What is our goal!</h5>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<h5>How we work!</h5>

				</div>
				<br><br>
				<br><br>

				<div class="col-md-6">
					<h3>Feedbacks</h3>
		            <form action="{% url 'feedback' %}" method="POST" enctype="multipart/form-data">
		               {% csrf_token %}
		               <div class="row form-group">
		                  <div class="col-md-12">
		                     <textarea  name="feedback" value="" id="message" cols="25" rows="4" class="form-control" placeholder="Feedbacks to Ebro-World team" required="">
		                     </textarea>
		                  </div>   
		                  
		               </div>
		               
		               <div class="row form-group">
		                  <div class="col-md-12">
		                  <div class="form-group text-center">
		                     <input type="submit" value="Send" class="btn btn-primary">
		                  </div>
		                  </div>
		               </div>
		            </form>
				</div>

			</div>



<!-- 		<div id="colorlib-testimony" class="colorlib-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
						<h2>Our Satisfied Guests says</h2>
						<p>We love to tell our successful far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
				<div class="col-md-4 animate-box">
					<div class="testimony text-center">
						<span class="img-user" style="background-image: url(images/person2.jpg);"></span>
						<span class="user">Brian Doe</span>
						<small>Satisfied Customer</small>
						<blockquote>
							<p></i> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony text-center">
						<span class="img-user" style="background-image: url(images/person1.jpg);"></span>
						<span class="user">Nathalie Miller</span>
						<small>Satisfied Customer</small>
						<blockquote>
							<p></i> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</blockquote>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony text-center">
						<span class="img-user" style="background-image: url(images/person3.jpg);"></span>
						<span class="user">Shara Jones</span>
						<small>Satisfied Customer</small>
						<blockquote>
							<p></i> Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						</blockquote>
					</div>
				</div>
			</div>
			</div>
		</div> -->
  </div>



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;










{% endblock %}
