.login-form{
    width: 650px;
    height: 450px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    max-width: 500px;
    margin-top:  100px;
    margin-left: 400px;
    padding: 20px;
    text-align: center;
    display: none;
    
}


@media screen and (max-width: 768px) {
    .login-form {
    margin-left: 40px;
    width: 370px;
    height: 450px; } }




.social{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.signup-form{
    width: 600px;
    height: 550px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    max-width: 500px;
    margin-top:  60px;
    margin-left: 400px;
    padding: 20px;
    text-align: center;
    display: none;
}

@media screen and (max-width: 768px) {
    .signup-form {
    margin-left: 40px;
    width: 370px;
    height: 650px; } }


.signup-otp{
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 99;
    background: #ffffff;
    max-width: 500px;
    margin-top:  200px;
    margin-left: 490px;
    padding: 20px;
    text-align: center;
    display: none;
    
}
.otp{
    margin-left: 40px;
}

.close{
    
    right: 10px;
    top: -10px;
    position: relative;
    width: 10px;
    height: 30px;
}

.close2{
    
    right: 10px;
    top: -10px;
    position: relative;
    width: 10px;
    height: 30px;
}



.containeradd{
    width: 50px;
    background: #ddd;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}


