	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/01/2018 05:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.1f676765ee51.eot");
  src: url("./Flaticon.1f676765ee51.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.fbc9fb8dabeb.woff") format("woff"),
       url("./Flaticon.1e93fcbf4a94.ttf") format("truetype"),
       url("./Flaticon.1c3ed3f27b32.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.1c3ed3f27b32.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-cheers:before { content: "\f100"; }
.flaticon-car:before { content: "\f101"; }
.flaticon-herbs:before { content: "\f102"; }
.flaticon-reception:before { content: "\f103"; }