

<script>
	{% for i in messages %}
	alert('{{ i }}');
	{% endfor %}
    
</script>

{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>E-BRO World Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,700 '%}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700 '%}" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css '%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css '%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css '%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css '%}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css '%}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css '%}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css '%}">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css '%}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css '%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css '%}">
	<link rel="stylesheet" href="{% static 'css/stylepop.css '%}">
	<link rel="stylesheet" href="{% static 'css/addb.css '%}">
	<link rel="stylesheet" href="{% static 'css/addb2.css '%}">

	<link rel="stylesheet" href="{% static 'css/other.css '%}">
	<link rel="stylesheet" href="{% static 'css/image_update.css '%}">

	<link rel="stylesheet" href="{% static 'css/boxes.css '%}">


	<link rel="stylesheet" href="{% static 'css/chosen.min.css '%}">

	<link rel="stylesheet" href="{% static 'css/login.css '%}">
	

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">




	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Do+Hyeon&family=Staatliches&display=swap" rel="stylesheet">
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Do+Hyeon&family=Staatliches&display=swap');
	</style>

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js '%}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->





	</head>
	<body>










<div class="colorlib-loader"></div>

<div id="page">
	<nav class="colorlib-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<p class="num">www.ebro-world.com</p><br>
						<p class="num">Call: +01-123-456</p>
						<ul class="colorlib-social">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-6 align-center">
						<a href="/home"><img src="{% static 'images/ebro4.png '%}" class="ebro" alt=""></a>
						
					</div>
					<div class="col-xs-4 text-right">
						<ul class="colorlib-social">
							{% if user.is_authenticated %}
								{% if user.is_superuser %}

									{% if admin_profile.image != '' %}
									<div class="col-xs-4">
	         						<li class="active"><span><a href="/admin_profile"><img src="{{admin_profile.image.url}}"  class="person"/></a></span></li>

	         						<li class="has-dropdown active"><a href="/admin_profile"><img src="{% static 'images/profile_link.png '%}"  class="profile_link"/></a>
	         							<ul class="dropdown">
											<li><a href="#">Profile</a></li>
											<li><a href="#">Logout</a></li>

										</ul>
									</li>
	         						</div>
	         						<div class="col-xs-8 username_mobile">
	         						<span class="username"><b>{{admin_profile.username.username}}</b></span>
	         							
	         						</div>

	         						{% else %}
	         						<div class="col-xs-4">
	         						<li class="active"><span><a href="/admin_profile"><img src="{% static 'images/pers1.png '%}"  class="person"></a></span></li>

	         						<li class="has-dropdown active"><a href="/admin_profile"><img src="{% static 'images/profile_link.png '%}"  class="profile_link"/></a>
	         							<ul class="dropdown">
											<li><a href="#">Profile</a></li>
											<li><a href="#">Logout</a></li>

										</ul>
									</li>
	         						</div>
	         						<div class="col-xs-8">
	     							<span class="username"><b>{{admin_profile.username.username}}</b></span>
	         						</div>
	         						{% endif %}

		         				{% else %}
									<li class="links_admin_all"><a href="#" id="login" class="" style="color: #fff;">Sign in</a></li>
									<li class="links_admin_all"><a href="#" id="signup" class="" style="color: #fff;">Sign up</a></li>
								{% endif %}

							{% else %}
								<li class="links_admin_all"><a href="#" id="login" class="" style="color: #fff;">Sign in</a></li>
								<li class="links_admin_all"><a href="#" id="signup" class="" style="color: #fff;">Sign up</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">

						<a href="home.html"><img src="{% static 'images/ebro_small.png '%}" class="ebrosmall" alt=""></a>
					</div>
					<div class="col-xs-14 text-center menu-1">
						<ul>
							{% if user.is_authenticated %}
								{% if user.is_superuser %}
									<li class="links_admin_all active_user_page1"><a href="/">Home</a></li>
									<li class="links_admin_all active_user_page2"><a href="/admin_ads">Ads</a></li>
									<li class="links_admin_all active_user_page3"><a href="/admin_deals">Deals</a></li>
									<li class="links_admin_all active_user_page4"><a href="/admin_jobs">Jobs</a></li>
									<li class="links_admin_all active_user_page5"><a href="/admin_products">Products</a></li>
									
						         	
									
									<li class="links_admin_all active_user_page6"><a href="/admin_userdata">Data-Management</a></li>
									<li class="links_admin_all active_user_page7"><a href="/admin_myads">My Ads</a></li>
						<!-- 			<li class="links_admin_all active_user_page8"><a href="/admin_orders">Orders</a></li> -->
									<li class="links_admin_all active_user_page9"><a href="/admin_payments">Orders</a></li>
									<li class="links_admin_all active_user_page10"><a href="/admin_assigns">Assigns</a></li>
									<!-- <li class="links_admin_all active_user_page11"><a href="/admin_notifications">Notifications</a></li> -->
									<li class="links_admin_all"><a href="/logout">Logout</a></li>
							
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>	
	
{% block content %}

{% endblock content %}




	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>


       


	
	
	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js '%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js '%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js '%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js '%}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js '%}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js '%}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js '%}"></script>
	<script src="{% static 'js/magnific-popup-options.js '%}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/bootstrap-datepicker.js '%}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js '%}"></script>
	<script src="{% static 'js/pro_pic.js '%}"></script>




	<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js '%}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('#mselect').chosen();
		});
	</script>


  <script>
    document.getElementById("login").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "flex";
      document.querySelector(".signup-form").style.display = "none";
    })
    document.getElementById("signup").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "flex";
      document.querySelector(".login-form").style.display = "none";
    })
    document.querySelector(".close").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "none";
    })
    document.querySelector(".close2").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "none";
    })


    document.getElementById("login2").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "none";
      document.querySelector(".signup-form").style.display = "flex";
    })
    document.getElementById("signup2").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "none";
      document.querySelector(".login-form").style.display = "flex";
    })



	document.getElementById("otp").addEventListener("click",function(){
		document.querySelector(".signup-otp").style.display = "flex";
		document.querySelector(".signup-form").style.display = "none";
		
	})

    <script>
      $('.message a').click(function(){
        $('form').animate({height: "toggle",opacity:"toggle"},"slow")
      })
    </script>
  </script>

	</body>
</html>

