.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.login-page{
    margin-left: 500px;
    display: none;
}

.form{
    width: 400px;
    position: fixed;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin-top:  60px;
    padding: 20px;
    text-align: center;
    
}

.form .signup-form{
    display: none;
    margin-bottom: 50px;
}

.close{
    right: -10px;
    top: -15px;
    position: relative;
    width: 20px;
    height: 30px;
}



