
{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}





	<div class="col-md-4 col-md-offset-1 login-form">		
        <input type="submit" value="X" class="btn btn-primary close">
		<form action="{% url 'admin_login' %}" method="POST">
			{% csrf_token %}
	        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        <h2 class="#drinks">Sign in</h2>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
	        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
	        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
	        <br><br>
			<div class="row form-group">
				<div class="col-md-12">
					
					<input type="text" id="fname" name="name" class="form-control" placeholder="Username">
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="col-md-12">
					
					<input type="text" id="lname" name="password" class="form-control" placeholder="Password">
				</div>
			</div>	
			<div class="form-group text-center">
				<button type="submit" value="Sign in" class="btn btn-primary">Sign in</button>
			</div>
			<center>
			<a>Forgot password..?</a>
			<br>
	        <p id="login2">Don't have an account?<a href="##">Sign up</a></p>
	        </center>
		</form>		
	</div>

    
    <div class="col-md-4 col-md-offset-1 signup-form">		
        <input type="submit" value="X" class="btn btn-primary close2">
		<form action="{% url 'admin_signup' %}" method="POST">
			{% csrf_token %}
	        <h3 class="#drinks">Sign up</h3>
	        &nbsp;
	        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
	        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
	        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
	        <br>
		    <div class="row form-group">
	        &nbsp;&nbsp;
				<div class="col-md-12">
					<input type="text" name="first_name" id="fname" class="form-control" placeholder="Firstname">
				</div>
				&nbsp;&nbsp;
		        <div class="col-md-12">
					<input type="text" name="last_name" id="fname" class="form-control" placeholder="Lastname">
				</div>
				&nbsp;&nbsp;
		        <div class="col-md-12">
					<input type="text" name="email" id="fname" class="form-control" placeholder="Email">
				</div>
				&nbsp;&nbsp;
		        <div class="col-md-12">
					<input type="text" name="phone" id="fname" class="form-control" placeholder="Phone">
				</div>
				&nbsp;&nbsp;
		        <div class="col-md-12">
					<input type="password" name="password1" id="fname" class="form-control" placeholder="Password">
				</div>
				&nbsp;&nbsp;
				<div class="col-md-12">
					<input type="password" name="password2" id="lname" class="form-control" placeholder="Confirm Password">
				</div>
			</div>
			<div class="form-group text-center">
					<input type="submit" id="otp" value="Sign up" class="btn btn-primary">
		        <center>
		        	<p id="signup2"> already a member?<a href="#" >Sign in</a></p>
		        </center>
			</div>
		</form>		
	</div>


	        <!-- <div class="col-md-2 col-md-offset-1  signup-otp">
			
		
			    <form action="#">
		       
                <div class="otp">
		        <h2 class="#drinks">O T P</h2>
		 
		        <br><br>
				    <div class="row form-group">
					  <div class="col-md-12">
						  
						  <input type="text" id="fname" class="form-control" placeholder="One Time Password">
					  </div>
					  
					  
				    </div>
					<center>
						<p id="signup2"> not getting otp?<a href="#" >Resend</a></p>
					</center>
  
				  
				    <div class="form-group text-center">
					  <input type="submit" value="Validate" class="btn btn-primary">
				    </div>
		  
                </div>
			    </form>	
			    	
		    </div> -->



		<aside id="colorlib-hero" style="margin-top: -10px;">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'images/img_bg_5.jpg '%});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
							<div><a href="home.html" class="ebro1">E-BRO</a></div>
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
									<h1>E-BRO</h1>
									<h2>The Complete Solutions...</h2>
				   					
										</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'images/img_bg_1.jpg '%});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
							<div><a href="home.html" class="ebro1">E-BRO</a></div>
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>Discover &amp; Enjoy</h2>
				   					<h1>Everything you need in E-BRO</h1>
									</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'images/img_bg_3.jpg '%});">
			   		<div class="overlay"></div>
			   		<div class="container-fluids">
			   			<div class="row">
							<div><a href="home.html" class="ebro1">E-BRO</a></div>
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>You are invited</h2>
				   					<h1>We know how to please you</h1>
									</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'images/img_bg_4.jpg '%});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
							<div><a href="home.html" class="ebro1">E-BRO</a></div>
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h2>Come &amp; enjoy the unforgetable things</h2>
				   					<h1>In the heart of E-BRO</h1>
									</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>	   	
			  	</ul>
		  	</div>
		</aside>
		
  </div>






  <script>
    document.getElementById("login").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "flex";
      document.querySelector(".signup-form").style.display = "none";
    })
    document.getElementById("signup").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "flex";
      document.querySelector(".login-form").style.display = "none";
    })
    document.querySelector(".close").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "none";
    })
    document.querySelector(".close2").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "none";
    })


    document.getElementById("login2").addEventListener("click",function(){
      document.querySelector(".login-form").style.display = "none";
      document.querySelector(".signup-form").style.display = "flex";
    })
    document.getElementById("signup2").addEventListener("click",function(){
      document.querySelector(".signup-form").style.display = "none";
      document.querySelector(".login-form").style.display = "flex";
    })



	document.getElementById("otp").addEventListener("click",function(){
		document.querySelector(".signup-otp").style.display = "flex";
		document.querySelector(".signup-form").style.display = "none";
		
	})

    <script>
      $('.message a').click(function(){
        $('form').animate({height: "toggle",opacity:"toggle"},"slow")
      })
    </script>
  </script>




{% endblock %}	
	