{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}





    <div class="container_wideboxes">
      <div class="col-md-8 profile_widebox">

        <div class="col-md-4">
            <form action="{% url 'update_admin_profile_pic' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="profilepic_box">
            	{% if admin_profile.image != '' %}
				<img src="{{admin_profile.image.url}}" id="file-ip-1-preview">
				{% else %} 
				<img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">
				{% endif %}
                  <input type="file" name="img" id="file-ip-1" accept="image/*" onchange="showPreview(event);" required>
                  <label type="submit" for="file-ip-1" id="uploadBtn">Choose Photo</label>
              </div><br><br><br><br><br><br><br><br><br><br><br><br>
              <div class="col-md-12 uploadBtn_mobile" style="margin-left: -25px;">
                  <button type="submit" class="btn btn-primary btn-block">Update Profile Pic</button><br>
              </div>
            </form>
        </div>

        <div class="col-md-8">
          <img src="{% static 'images/edits.png '%}" id="editprofile" class="edit_profile_button">
            <div class="desc" style="margin-top: 20px;margin-left: -40px;">
              <h5 class="h5_style_big">First Name &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.first_name }}</h5><br>
              <h5 class="h5_style_big">Last Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.last_name }}</h5><br>
              <h5 class="h5_style_big">Email Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ user.email }}</h5><br>
              <br>
                <div class="col-md-6 h5_profile_style_mobile1">
                  <h5 class="h5_profile_style">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ admin_profile.phone }}</h5><br>
                  <h5 class="h5_profile_style">Date of Birth&nbsp;:&nbsp;{{ admin_profile.dob }}</h5><br>
                  <h5 class="h5_profile_style">Profession&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;{{ admin_profile.profession.name }}</h5><br>
                  <h5 class="h5_profile_style">Qualification&nbsp;:&nbsp;{{ admin_profile.qualification }}</h5><br>
                </div>
                <div class="col-md-6 h5_profile_style_mobile2">
                  <h5 class="h5_profile_style">Phone 2&nbsp;&nbsp;:&nbsp;{{ admin_profile.alternative_phone }}</h5><br>
                  <h5 class="h5_profile_style">Adhar Id&nbsp;:&nbsp;{{ admin_profile.adhar_id }}</h5><br>
                  <h5 class="h5_profile_style">Location&nbsp;:&nbsp;{{ admin_profile.location.name}}</h5><br>
                  <h5 class="h5_profile_style">Hobbies&nbsp;&nbsp;:&nbsp;{{ admin_profile.hobbies }}</h5><br>
                  <br>
                </div>
              <h5 class="h5_style_big">Summary/Bio&nbsp;:&nbsp;</h5><p class="h5_style_big_p" style="word-break: break-all;line-height: 20px;">{{ admin_profile.summary }}</p><br>
        </div>

      </div>
    </div>

    <div class="col-md-4 wallet-form">
        <div class="row">
            <br>
          <div class="col-md-12">
            <h4 class="sub_headings">&nbsp;&nbsp;My Refferals</h4><br><br>
                <table class="table-users" cellspacing="0" style="margin-left: -10px;width: 105%;">
                  {% for i in my_refferals %}
                    <tr style="font-size: 13px;">
                     <td width="5%"><center>{{ forloop.counter }}</center></td>
                     <td width="10%"><center>
                      {% if i.image != '' %}
                      <img src="{{i.image.url}}" alt="" height="50" width="50"/>
                      {% else %}
                      <img src="{% static 'images/assign.png' %}" alt="" height="50" width="50"/>
                      {% endif %}
                     </center></td>
                     <td width="85%">&nbsp;{{ i.username.username }}</td>
                  {% endfor %}                       
               </table>
          </div>
        </div>
    </div>




	<div class="col-md-12 col-md-push-3 admin_profileedit_form">
      <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeprofile">
        <form action="{% url 'admin_profile' %}" method="POST">
          {% csrf_token %}
          <br><br>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">First Name</label>
                    <input type="text" name="first_name" id="fname" class="form-control" placeholder="Your firstname" value="{{ user.first_name }}" required="">
                </div>
                <div class="col-md-6">
                    <label for="lname">Last Name</label>
                    <input type="text" name="last_name" id="lname" class="form-control" placeholder="Your lastname" value="{{ user.last_name }}">
                </div>
            </div>
      
            <div class="row col-md-12">
                <div class="col-md-12">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Your email id" value="{{ user.email }}" disabled>
                </div>
            </div>
      
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Phone</label>
                    <input type="text" id="fname" name="phone" class="form-control" placeholder="Your phone number" value="{{ admin_profile.phone }}" required="">
                </div>
                <div class="col-md-6">
                    <label for="lname">Alternative Phone</label>
                    <input type="text" id="lname" name="alternative_phone" class="form-control" placeholder="Secondary phone number" value="{{ admin_profile.alternative_phone }}">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Date of Birth</label>
                    <input type="text" id="fname" name="dob" class="form-control" placeholder="Your date of birth" value="{{ admin_profile.dob }}">
                </div>
                <div class="col-md-6">
                    <label for="lname">Adhar/Id</label>
                    <input type="text" id="lname" name="adhar_id" class="form-control" placeholder="Your adhar id" value="{{ admin_profile.adhar_id }}">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="fname">Profession</label>
                    <select name="profession" class="form-control mb-4" style="width: 90%;">
                        {% for i in profession_details %}
                          <option {% if i.id == admin_profile.profession.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                          </option> 
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="lname">Location</label>
                    <select name="location" class="form-control mb-4" style="width: 90%;">
                        {% for i in location_details %}
                          <option {% if i.id == admin_profile.location.id %} selected {% endif %} value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                          </option> 
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row col-md-12">
              <div class="col-md-6">
                  <label for="fname">Qualification</label>
                  <input type="text" id="fname" name="qualification" class="form-control" placeholder="Your qualification" value="{{ admin_profile.qualification }}">
              </div>
              <div class="col-md-6">
                  <label for="lname">Hobbies</label>
                  <input type="text" id="lname" name="hobbies" class="form-control" placeholder="Your hobbies" value="{{ admin_profile.hobbies }}">
              </div>
          </div>
          <div class="row col-md-12">
              <div class="col-md-12">
                  <label for="message">Summary/Bio</label>
                  <textarea id="message" cols="25" rows="4" class="form-control" name="summary" placeholder="Say something about you" value="">{{ admin_profile.summary }}</textarea>
              </div>
          </div>
          <div class="form-group">
              <input type="submit" value="Update Profile" class="btn btn-primary">
          </div>
        </form>
    </div>




		<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


       <br><br><br><br>

<!-- 		<div id="colorlib-reservation">
			<div class="container">
				<div class="row">
					<div class="col-md-12 search-wrap">
						<form method="post" class="colorlib-form">
		              	<div class="row">
						<div class="col-md-3"><br>
							<ul class="colorlib-social">
								<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
								<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
								<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
									
							</ul> 
						</div>
		                <div class="col-md-5">
		                  <div class="form-group">
		                    <label for="date">Invite Link:</label>
		                    <div class="form-field">
		                      <i class="icon icon-text"></i>
		                      <input type="textfield" id="date" class="form-control text" placeholder="Keyword,job,tittle,etc">
		                    </div>
		                  </div>
		                </div>
						
		                <div class="col-md-2">
		                  <div class="form-group">
		                    <label for="date">Refferal Code:</label>
		                    <div class="form-field">
		                      <i class="icon location"></i>
		                      <input type="textfield" id="date" class="form-control text" placeholder="city,state, or pincode">
		                    </div>
		                  </div>
		                </div>
		                
		                
		                <div class="col-md-2">
		                  <input type="submit" name="submit"  value="Share" class="btn btn-primary btn-block">
		                </div> 
						      
		              </div>
		            </form>
					</div>
				</div>
			</div>
		</div> -->
	









	<!-- <script>
		//declairing html elements

const imgDiv = document.querySelector('.profile-pic-circle');
const img = document.querySelector('#photo');
const file = document.querySelector('#file');
const uploadBtn = document.querySelector('#uploadBtn');

// if user hover on profile pic
imgDiv.addEventListner('mouseenter', function()
{
	uploadBtn.style.display = "block"
});

// if user hover out from profile pic
imgDiv.addEventListner('mouseleave', function()
{
	uploadBtn.style.display = "none"
});


//image showing functionality
//when we choose a aphoto to upload
file.addEventListner('change', function(){
	//this refer to file
	const choosedFile = this.files[0];
	if (choosedFile) {
		const reader = new FileReader();//filereader is a predefined function of js
		reader.addEventListner('load', function(){
			img.setAttribute('src', reader.result);
		});

		reader.readAsDataURL(choosedFile);
	}
});


	</script> -->





	<script>
	document.getElementById("editprofile").addEventListener("click",function(){
	  document.querySelector(".admin_profileedit_form").style.display = "flex";
	})
	document.querySelector(".closeprofile").addEventListener("click",function(){
		document.querySelector(".admin_profileedit_form").style.display = "none";
	 })
	

	</script>

  
{% endblock %}