
{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}



<style>
   .active_user_page6{
      background-color: #99c2ff;
   }

</style>





<div class="container_wideboxes">
  <div class="col-md-3">
      <div class="col-md-12 databuttons_box">
        <button id="datachart" class="btn5 btn5-1 btn5-sep btn-block">DATA CHART</button>
        <button id="admanagement" class="btn5 btn5-1 btn5-sep btn-block">AD MANAGEMENT</button>
        <button id="offerbook" class="btn5 btn5-1 btn5-sep btn-block">OFFER BOOK</button>
        <button id="userdetails" class="btn5 btn5-1 btn5-sep btn-block">USER DETAILS</button>
        <button id="payments" class="btn5 btn5-1 btn5-sep btn-block">PAYMENTS</button>
        <button id="keywords" class="btn5 btn5-1 btn5-sep btn-block">KEYWORDS</button>
        <button id="professions" class="btn5 btn5-1 btn5-sep btn-block">PROFESSIONS</button>
        <button id="locations" class="btn5 btn5-1 btn5-sep btn-block">LOCATIONS</button>
        <button id="announcement" class="btn5 btn5-1 btn5-sep btn-block">ANNOUNCEMENTS</button>
        <form action="{% url 'admin_personal_notification_group'%}" method="GET">
          {% csrf_token %}
        <button id="" class="btn5 btn5-1 btn5-sep btn-block">NOTIFICATIONS</button>
        </form>
        <button id="feedbacks" class="btn5 btn5-1 btn5-sep btn-block">FEEDBACKS</button>
        <br>
      </div>
  </div>

  <div class="col-md-9 datachart_form" style="margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">

            <div class="col-md-6">
                <table cellspacing="0">
                  <tr class="header"> 
                    <th width="20%"></th>
                    <th width="20%"></th>
                    <th width="20%">Online</th>
                    <th width="20%">Offline</th>
                    <th width="20%">Total</th>
                  </tr>
                  <tr>
                    <th rowspan="2" width="20%">Admins</th>
                    <td width="20%">Super</td>
                    <td width="20%"><center>###</center></td>
                    <td width="20%"><center>###</center></td>
                    <td rowspan="2" width="20%"><center>{{ total_admins }}</center></td>
                  </tr>
                  <tr>      
                  <td width="20%">Normal</td>
                  <td width="20%"><center>###</center></td>
                  <td width="20%"><center>###</center></td>
                  <td width="20%"><center></center></td>
                  </tr>
                  <tr>      
                  <th rowspan="2" width="20%">Users</th>
                  <td width="20%">Free</td>
                  <td width="20%"><center>###</center></td>
                  <td width="20%"><center>###</center></td>
                  <td rowspan="2" width="20%"><center>{{ total_users }}</center></td>
                  </tr>
                  <tr>       
                  <td width="20%">Premium</td>
                  <td width="20%"><center>###</center></td>
                  <td width="20%"><center>###</center></td>
                  </tr>
                  <tr>      
                  <td colspan="4" width="20%"></td>
                  <td width="20%"><center><b>{{ total_registrations }}</b></center></td>
                  </tr>
                </table>

            </div>

            <div class="col-md-6">
                <table cellspacing="0">
                  <tr class="header">
                    <th width="10%"></th>
                    <th width="10%"></th>
                    <th width="20%">Deals</th>
                    <th width="20%">Jobs</th>
                    <th width="20%">Proucts</th>
                  </tr>
                  <tr>
                    <th rowspan="2" width="10%">Admin</th>
                    <td width="10%">Public</td>
                    <td width="20%">&nbsp;{{ public_admin_deals }}</td>
                    <td width="20%">&nbsp;{{ public_admin_jobs }}</td>
                    <td width="20%">&nbsp;{{ public_admin_products }}</td>  
                  </tr>
                  <tr>  
                    <td width="10%">Private</td>
                    <td width="20%">&nbsp;{{ private_admin_deals }}</td>
                    <td width="20%">&nbsp;{{ private_admin_jobs }}</td>
                    <td width="20%">&nbsp;{{ private_admin_products }}</td>  
                  </tr>
                  <tr>
                    <th rowspan="2" width="10%">User</th>
                    <td width="10%">Public</td>
                    <td width="20%">&nbsp;{{ public_user_deals }}</td>
                    <td width="20%">&nbsp;{{ public_user_jobs }}</td>
                    <td width="20%">&nbsp;{{ public_user_products }}</td>     
                  </tr>
                  <tr> 
                    <td width="10%">Private</td>
                    <td width="20%">&nbsp;{{ private_user_deals }}</td>
                    <td width="20%">&nbsp;{{ private_user_jobs }}</td>
                    <td width="20%">&nbsp;{{ private_user_products }}</td>
                  </tr>
                  <tr>  
                    <td width="10%"><b>Total</b></td>
                    <td width="10%"><b></b></td>
                    <td width="20%"><b>&nbsp;{{ total_deals }}</b></td>
                    <td width="20%"><b>&nbsp;{{ total_jobs }}</b></td>
                    <td width="20%"><b>&nbsp;{{ total_products }}</b></td>
                  </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table cellspacing="0">
                  <tr class="header">
                    <th width="40%"></th>
                    <th width="30%">Deals</th>
                    <th width="30%">Jobs</th>
                  </tr>
                  <tr>   
                    <td width="40%">Admin</td>
                    <td width="30%">&nbsp;{{ admin_assigned_deal }}</td>
                    <td width="30%">&nbsp;{{ admin_assigned_job }}</td>
                  </tr>
                  <tr>
                    <td width="40%">User</td>
                    <td width="30%">&nbsp;{{ user_assigned_deal }}</td>
                    <td width="30%">&nbsp;{{ user_assigned_job }}</td>
                  </tr>
                  <tr>    
                    <th width="40%">Total</th>
                    <td width="30%"><b>&nbsp;{{ total_assigned_deal }}</b></td>
                    <td width="30%"><b>&nbsp;{{ total_assigned_job }}</b></td>  
                  </tr>
                </table>
            </div>

      </div>
    </div>
  </div>



  <div class="col-md-9 admanagement_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">
           <div class="col-md-12">
              <br>
              <form action="{% url 'admin_ads' %}" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}   
                    <div class="col-md-5">
                       <label for="fname">Ad Name</label>
                       <input type="text" name="ad_name" id="fname" class="form-control" placeholder="Your Ad Name" required="">
                    </div>
                    <div class="col-md-2">
                       <label for="fname">Select Ad Size :</label>
                       <select name="ad_size">
                          <option value="xxxl" selected="">XXX-Large Wide(1)</option>
                          <option value="xxl">XX-Large Square(2)</option>
                          <option value="xl">X-Large Poster(3)</option>
                          <option value="l" >Large Poster(4)</option>
                          <option value="s">Small(6)</option>
                       </select>
                       </font></b>
                    </div>
                    <div class="col-md-3">
                       <label for="fname">Media File</label>
                       <input type="file" name="image" id="fname" class="form-control" placeholder="Your firstname">
                    </div>
                    <div class="col-md-2">
                       <br>
                       <input type="submit" value="Add Ad" class="btn btn-primary">
                    </div>
              </form>

              <div class="col-md-12 ad_list_form">
                 <table cellspacing="0">
                    <tr class="header">
                       <center>
                        <th width="5%"><center>#</center></th>
                       <th width="5%"><center>Picture</center></th>
                       <th width="25%"><center>Ad Name</center></th>
                       <th width="30%" class="none"><center>Email</center></th>
                       <th width="15%" class="none"><center>Phone</center></th>
                       <th width="5%"><center>Ad Clicks</center></th>
                       <th width="5%"><center>Ad Size</center></th>
                       <th width="5%" class="none"><center>User</center></th>
                       <th width="5%"><center>Delete</center></th>

                       
                       </center>
                    </tr>

                    {% for i in admin_ads_all %}
                    <tr class="row_height" style="font-size: 13px;cursor: pointer;" onclick="location.href='{% url 'admin_ads_edit' i.id %}';">
                        <td><center>{{ forloop.counter }}</center></td>
                       <td><center>
                          {% if i.image != '' %}
                          <img src="{{i.image.url}}" alt="" height="50" width="50"/>
                          {% else %}
                          <img src="{% static 'images/assign.png' %}" alt="" height="50" width="50"/>
                          {% endif %}
                       </center></td>
                       <td><center>{{ i.adname }}</center></td>
                       <td class="none"><center>{{ i.username.email }}</center></td>
                       <td class="none"><center>{{ i.profile.phone }}</center></td>
                       <td><center>{{ i.clicksall }}</center></td>
                       <td><center>{{ i.adsize }}</center></td>
                       <td class="none"><center>{{ i.profile.usertype }}</center></td>
                       <td><center>
                          <form action="{% url 'delete_admin_ads' %}" method="POST">
                          {% csrf_token %}

                          <input type="hidden" value="{{ i.id }}" name="id_delete">
                          <br>
                          <button>Delete</button>
                          </form>
                      </center></td>
                    </tr>
                    {% endfor %}
                 </table>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </div>
      </div>
    </div>
  </div>






  <div class="col-md-9 offerbook_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">
           <div class="col-md-12">
              <br>
              <form action="{% url 'admin_offerbook' %}" method="POST" enctype="multipart/form-data">
                 {% csrf_token %}   
                    <div class="col-md-6">
                       <label for="fname">Offerbook Name</label>
                       <input type="text" name="offerbook_name" id="fname" class="form-control" placeholder="Your OfferBook Name" required="">
                    </div>
                    <div class="col-md-3">
                       <label for="fname">Media File</label>
                       <input type="file" name="image" id="fname" class="form-control" placeholder="Your firstname">
                    </div>
                    <div class="col-md-3">
                       <br>
                       <input type="submit" value="Add OfferBook" class="btn btn-primary">
                    </div>
              </form>

              <div class="col-md-12 ad_list_form">
                 <table cellspacing="0">
                    <tr class="header">
                       <center>
                        <th width="5%"><center>#</center></th>
                       <th width="5%"><center>Picture</center></th>
                       <th width="30%"><center>OfferBook Name</center></th>
                       <th width="30%" class="none"><center>Email</center></th>
                       <th width="15%" class="none"><center>Phone</center></th>
                       <th width="10%" class="none"><center>User</center></th>
                       <th width="5%"><center>Delete</center></th>

                       
                       </center>
                    </tr>

                    {% for i in admin_offerbook_all %}
                    <tr class="row_height" style="font-size: 13px;cursor: pointer;" onclick="location.href='{% url 'admin_offerbook_edit' i.id %}';">
                        <td><center>{{ forloop.counter }}</center></td>
                       <td><center>
                          {% if i.image != '' %}
                          <img src="{{i.image.url}}" alt="" height="50" width="50"/>
                          {% else %}
                          <img src="{% static 'images/assign.png' %}" alt="" height="50" width="50"/>
                          {% endif %}
                       </center></td>
                       <td><center>{{ i.offerbookname }}</center></td>
                       <td class="none"><center>{{ i.username.email }}</center></td>
                       <td class="none"><center>{{ i.profile.phone }}</center></td>
                       <td class="none"><center>{{ i.profile.usertype }}</center></td>
                       <td><center>
                          <form action="{% url 'delete_offerbook' %}" method="POST">
                          {% csrf_token %}

                          <input type="hidden" value="{{ i.id }}" name="id_delete">
                          <br>
                          <button>Delete</button>
                          </form>
                      </center></td>
                    </tr>
                    {% endfor %}
                 </table>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </div>
      </div>
    </div>
  </div>







  <div class="col-md-9 userdetails_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">

            <div id="colorlib-reservation">
              <div class="row">
                  <div class="col-md-12 search-wrap">
                    <form class="colorlib-form">
                        <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">

                              <label for="date">Who:</label>
                              <div class="form-field" style="margin-top: -10px;">
                                <i class="icon icon-text"></i>
                                <input name="search" type="textfield" id="date" class="form-control text" placeholder="username,first name,tittle,etc">
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-2">
                          <div class="form-group">
                            <label for="adults">Type:</label>
                            <div class="form-field">
                              <i class="icon icon-arrow-down3"></i>
                              <select name="user_type" id="people" class="form-control">
                                <option value="" style="color: #000;">------------</option>
                                <option value="free" style="color: #000;">Free User</option>
                                <option value="premium" style="color: #000;">Premium User</option>
                                <option value="" style="color: #000;">Admin</option>
                                <option value="" style="color: #000;">Super Admin</option>
                              </select>
                            </div>
                          </div>
                        </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="date">Where:</label>
                              <div class="form-field" style="margin-top: -10px;">
                                <i class="icon location"></i>
                                <input type="textfield" name="location" id="date" class="form-control text" placeholder="city,state, or Country">
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-2" style="margin-top: -10px;">
                            <button type="submit" name="submit" id="submit"  class="btn btn-primary btn-block">Search</button>
                          </div>        
                        </div>
                      </div>
                    </form>
                  </div>
              </div>


            <div class="col-md-12">
              <a href="#"><h3 id="addbutton" class="adduser">+&nbsp;Add&nbsp;User</h3></a><br>
                <table cellspacing="0" class="user_list_table">
                  <tr class="header" style="font-size: 15px;">
                    <center>
                     <th width="2%"><center>#</center></th>
                     <th width="2%"><center></center></th>
                     <th width="25%"><center>Username</center></th>
                     <th width="10%" class="none"><center>Phone</center></th>
                     <th width="15%" class="none"><center>Profession</center></th>
                     <th width="10%" class="none"><center>Location</center></th>
                     <th width="11%" class="none"><center>Type</center></th>
                     <th width="10%" class="none"><center>Ref-Code</center></th>
                     <th width="5%" class="none"><center>Refferals</center></th>
                     <th width="5%"><center>Wallet</center></th>
                     <th width="5%"><center>Coins</center></th>
                     </center>
                  </tr>


                  {% for i in profile_list %}
                    <tr style="font-size: 13px;cursor: pointer;" onclick="location.href='{% url 'detail_user' i.id %}';">
                     <td><center>{{ forloop.counter }}</center></td>
                     <td><center>
                      {% if i.image != '' %}
                      <img src="{{i.image.url}}" alt="" height="30" width="30"/>
                      {% else %}
                      <img src="{% static 'images/assign.png' %}" alt="" height="30" width="30"/>
                      {% endif %}
                     </center></td>
                     <td>&nbsp;{{ i.username.username }}</td>
                     <td class="none">&nbsp;{{ i.phone }}</td>
                     <td class="none"><center>{{ i.profession.name }}</center></td>
                     <td class="none">&nbsp;{{ i.location.name }}</td>
                     <td class="none"><center>{% if i.username.is_superuser == True %}<font color="red"> Admin </font> {% elif i.usertype == "premium" %} Premium User {% else %} Free User {% endif %}</center></td>
                     <td class="none"><center>{{ i.myrefferalid }}</center></td>
                     <td class="none"><center>{{ i.myrefferalcount }}</center></td>
                     <td><center>{{ i.wallet }}</center></td>
                     <td><center>{{ i.coins }}</center></td>
                    </tr>
                  {% endfor %}  
                </table>
            </div>

      </div>
    </div>
  </div>



  <div class="col-md-12 adduser-form">
     <form action="{% url 'add_user' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="col-md-4">
        <img src="{% static 'images/close.png '%}" alt="" height="30" width="20" class="closeuser">

        <div class="form-field col-md-12 deals-pic-circle">
          <img src="{% static 'images/menu-9.jpg '%}" id="file-ip-1-preview">   
          <input type="file" name="picture" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
          <label for="file-ip-1" id="uploadBtn">Choose Photo</label>        
        </div>
        <br><br><br><br><br><br><br><br><br><br>

          <div class="col-md-12">
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" class="form-control" placeholder="Your firstname" required="">
          </div>
          <div class="col-md-12">
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" class="form-control" placeholder="Your lastname">
          </div>
          <div class="col-md-12">
            <label for="lname">Email</label>
            <input type="email" name="email" id="lname" class="form-control" placeholder="Your email id" required="">
          </div>
          <div class="col-md-12">
            <label for="lname">Phone number</label>
            <input type="text" name="phone" id="lname" class="form-control" placeholder="Your phone number" required="">
          </div>
          <div class="col-md-12">
            <label for="lname">Refferal Code</label>
            <input type="text" name="refferalcode" id="lname" class="form-control" placeholder="reffereal code">
          </div>
          <div class="col-md-12">
            <label for="lname">Password</label>
            <input type="password" name="password1" id="lname" class="form-control" placeholder="Your password" required="">
          </div>
          <div class="col-md-12">
            <label for="lname">Confirm Passwordr</label>
            <input type="password" name="password2" id="lname" class="form-control" placeholder="Confirm your password" required="">
          </div>
      </div>
      <div class="col-md-8">
        <br>
          <div class="col-md-12 wrapper-class">
          <label for="subject">Type</label>
          <br>
            <input type="radio" id="radio6" name="user_type" value="free" checked="checked">
              <label for="radio6">Free User</label>
            <input type="radio" id="radio7" name="user_type" value="premium">
              <label for="radio7">Premium User</label>
            <input type="radio" id="radio8" name="user_type" value="admin">
              <label for="radio8">Admin</label>
          </div>
          <div class="col-md-12">
            <label for="subject">Alternative Phone</label>
            <input type="text" name="alternative_phone" id="subject" class="form-control" placeholder="Secondary phone number">
          </div>
          <div class="col-md-12">
            <label for="email">Date of Birth</label>
            <input type="text" name="dob" id="email" class="form-control" placeholder="Your date of birth">
          </div>
          <div class="col-md-12">
            <label for="subject">Adhar Id</label>
            <input type="text" name="adhar_id" id="subject" class="form-control" placeholder="Your adhar id">
          </div>
          <div class="col-md-12">
            <label for="subject">Profession</label>
            <select name="profession" class="form-control mb-4" style="width: 90%;" required="">
                {% for i in ProfessionList %}
                  <option value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                  </option> 
                {% endfor %}
            </select>
          </div>
          <div class="col-md-12">
            <label for="subject">Location</label>
            <select name="location" class="form-control mb-4" style="width: 90%;" required="">
                {% for i in LocationList %}
                  <option value="{{ i.id }}">{{ i.name }} &nbsp;&nbsp;&nbsp;
                  </option> 
                {% endfor %}
            </select>
          </div>
          <div class="col-md-12">
            <label for="subject">Qualification</label>
            <input type="text" name="qualification" id="subject" class="form-control" placeholder="Your qualification">
          </div>
          <div class="col-md-12">
            <label for="subject">Hobbies</label>
            <input type="text" name="hobbies" id="subject" class="form-control" placeholder="Your hobbies">
          </div>

          <div class="col-md-12">
            <label for="message">Summary/Bio</label>
            <textarea  name="summary" value="" id="message" cols="25" rows="2" class="form-control" placeholder="Say something about you">
            </textarea>
          </div>
          &nbsp;&nbsp;
          <div class="row form-group">
          <div class="form-group text-center"><br><br>
            <button type="submit" value="Add Deal" class="btn btn-primary">Add User</button>
        
          </div>
          </div>
      </div>
    </form>
  </div>








  <div class="col-md-9 payments_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">

            <div class="col-md-12">
              <table cellspacing="0" class="user_list_table">
                <tr class="header" style="font-size: 15px;">
                  <center>
                   <th width="2%"><center>#</center></th>
                   <th width="2%"><center></center></th>
                   <th width="20%"><center>Username</center></th>
                   <th width="10%" class="none"><center>Phone</center></th>
                   <th width="15%" class="none"><center>Profession</center></th>
                   <th width="10%" class="none"><center>Location</center></th>
                   <th width="11%" class="none"><center>Type</center></th>
                   <th width="10%" class="none"><center>Amount</center></th>
                   <th width="20%"><center>Date</center></th>
                   </center>
                </tr>


                {% for i in admin_retrieves_all %}
                  <tr style="font-size: 13px;cursor: pointer;" onclick="location.href='{% url 'detail_retrieves' i.id %}';">
                   <td><center>{{ forloop.counter }}</center></td>
                   <td><center>
                    {% if i.profile.image != '' %}
                    <img src="{{i.profile.image.url}}" alt="" height="30" width="30"/>
                    {% else %}
                    <img src="{% static 'images/assign.png' %}" alt="" height="30" width="30"/>
                    {% endif %}
                   </center></td>
                   <td>&nbsp;{{ i.username.username }}</td>
                   <td class="none">&nbsp;{{ i.profile.phone }}</td>
                   <td class="none"><center>{{ i.profile.profession.name }}</center></td>
                   <td class="none">&nbsp;{{ i.profile.location.name }}</td>
                   <td class="none"><center>{% if i.username.is_superuser == True %}<font color="red"> Admin </font> {% elif i.profile.usertype == "premium" %} Premium User {% else %} Free User {% endif %}</center></td>
                   <td class="none"><center></center><font color="black">&nbsp;$&nbsp;{{ i.amount }} </font></td>
                   <td><center>{{ i.created_at }}</center></td>
                  </tr>
                {% endfor %}  
              </table>
            </div>

      </div>
    </div>
  </div>









  <div class="col-md-9 keywords_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">


          <div class="col-md-6">
            <form class="text-center border border-light p-5" action="{% url 'add_category' %}" method="POST" onsubmit="return check()">
              {% csrf_token %}
                <p class="h4 mb-4">Add Category</p>

              <!-- Main Categoy-->
               <div class="d-flex justify-content-around">
                    
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" checked="checked" value="True" onclick="checkRadio(name)" name="main_category" class="custom-control-input" id="defaultInline1" >
                  <label class="custom-control-label" for="defaultInline1">Main Category</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" onclick="checkRadio(name)" value="False" id="defaultInline2" name="main_category_availabe">
                  <label class="custom-control-label" for="defaultInline2">Sub Category</label>
                </div>
                    
                </div>
                <!-- Password -->
                <input type="text" name="name"  class="form-control mb-4" placeholder="Enter category name" required="" pattern="[A-Za-z ]{1,30}">
                <select id="sub_selection" name="sub_category" class="form-control mb-4" >
                    <option value="">select main category</option>
                    {% for category in main_category_list %}
                      <option value="{{ category.id }}">{{ category.name }} &nbsp;&nbsp;&nbsp;{% if category.parent == null %}<p class="text-primary">(main category)</p>{% endif %}</option> 
                    {% endfor %}
                </select>
                <div id="error" style="color: red"></div>
                <button style="background-color: #59698d;" class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
          </div>

          <div class="col-md-6">
            <table cellspacing="0" style="width: 108%;margin: 0px -15px;">
              <tr class="header" style="font-size: 15px;">
                <center>
                 <th width="5%"><center>#</center></th>
                 <th width="50%"><center>Category</center></th>
                 <th width="45%"><center>Sub Category</center></th>
                 </center>
              </tr>


              {% for i in main_category_list %}
                <tr style="font-size: 13px;height: 30px;cursor: pointer;" onclick="location.href='{% url 'detail_category' i.id %}';">
                 <td><center>{{ forloop.counter }}</center></td>
                  <td>&nbsp;{{ i.name }}</td>
                  <td>
                    {% for j in sub_category_list %}
                      {% if j.super_parent_id == i.id %}
                      &nbsp;{{ j.name }}<br>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}  
            </table>
          </div>

      </div>
    </div>
  </div>














  <div class="col-md-9 professions_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">


          <div class="col-md-6">
            <form class="text-center border border-light p-5" action="{% url 'add_profession' %}" method="POST" onsubmit="return check_profession()">
              {% csrf_token %}
                <p class="h4 mb-4">Add Professions</p>

              <!-- Main Categoy-->
               <div class="d-flex justify-content-around">
                    
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" checked="checked" value="True" onclick="checkRadio_profession(name)" name="main_profession_notavailable" class="custom-control-input" id="defaultInline01" >
                  <label class="custom-control-label" for="defaultInline1">Main Profession</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" onclick="checkRadio_profession(name)" value="False" id="defaultInline02" name="main_profession_available">
                  <label class="custom-control-label" for="defaultInline2">Sub Profession</label>
                </div>

<!--                 <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" onclick="checkRadio_profession(name)" value="False" id="defaultInline03" name="sub_profession_available">
                  <label class="custom-control-label" for="defaultInline2">Micro Sub Profession</label>
                </div> -->
                    
                </div>
                <!-- Password -->
                <input type="text" name="name"  class="form-control mb-4" placeholder="Enter Profession Name" required="" pattern="[A-Za-z ]{1,30}">


                <select id="main_profession_selection" name="main_profession" class="form-control mb-4" >
                    <option value="">Select Main Profession</option>
                    {% for profession in main_profession_list %}
                      <option value="{{ profession.id }}">{{ profession.name }} &nbsp;&nbsp;&nbsp;{% if profession.super_parent == null %}<p class="text-primary">(Main Profession)</p>{% endif %}</option> 
                    {% endfor %}
                </select>




<!--                 <select id="sub_profession_selection" name="sub_profession" class="form-control mb-4" >
                    <option value="">Select Sub Profession</option>
                    {% for profession in sub_profession_list %}
                      <option value="{{ profession.id }}">{{ profession.name }}&nbsp;&nbsp;&nbsp;{% if profession.super_parent != null %}<p class="text-primary">(Sub Profession)&nbsp;&nbsp;&nbsp;{{ profession.super_parent_id }}</p>{% endif %}</option> 
                    {% endfor %}
                </select> -->

                <div id="error2" style="color: red"></div>
                <button style="background-color: #59698d;" class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
          </div>

          <div class="col-md-6">
            <table cellspacing="0" style="width: 108%;margin: 0px -15px;">
              <tr class="header" style="font-size: 15px;">
                <center>
                 <th width="5%"><center>#</center></th>
                 <th width="50%"><center>Professions</center></th>
                 <th width="45%"><center>Sub Professions</center></th>
                 </center>
              </tr>


              {% for i in main_profession_list %}
                <tr style="font-size: 13px;height: 30px;cursor: pointer;" onclick="location.href='{% url 'detail_profession' i.id %}';">
                 <td><center>{{ forloop.counter }}</center></td>
                  <td>&nbsp;{{ i.name }}</td>
                  <td>
                    {% for j in sub_profession_list %}
                      {% if j.super_parent_id == i.id %}
                      &nbsp;{{ j.name }}<br>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}  
            </table>
          </div>

      </div>
    </div>
  </div>









  <div class="col-md-9 locations_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">


          <div class="col-md-6">
            <form class="text-center border border-light p-5" action="{% url 'add_location' %}" method="POST" onsubmit="return check_location()">
              {% csrf_token %}
                <p class="h4 mb-4">Add Location</p>

              <!-- Main Categoy-->
               <div class="d-flex justify-content-around">
                    
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" checked="checked" value="True" onclick="checkRadio_location(name)" name="main_location_notavailable" class="custom-control-input" id="defaultInline001" >
                  <label class="custom-control-label" for="defaultInline1">Country</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" onclick="checkRadio_location(name)" value="False" id="defaultInline002" name="main_location_available">
                  <label class="custom-control-label" for="defaultInline2">State</label>
                </div>

<!--                 <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" onclick="checkRadio_profession(name)" value="False" id="defaultInline03" name="sub_profession_available">
                  <label class="custom-control-label" for="defaultInline2">Micro Sub Profession</label>
                </div> -->
                    
                </div>
                <!-- Password -->
                <input type="text" name="name"  class="form-control mb-4" placeholder="Enter Location Name" required="" pattern="[A-Za-z ]{1,30}">


                <select id="main_location_selection" name="main_location" class="form-control mb-4" >
                    <option value="">Select Country</option>
                    {% for location in main_location_list %}
                      <option value="{{ location.id }}">{{ location.name }} &nbsp;&nbsp;&nbsp;{% if location.super_parent == null %}<p class="text-primary">(Country)</p>{% endif %}</option> 
                    {% endfor %}
                </select>




<!--                 <select id="sub_profession_selection" name="sub_profession" class="form-control mb-4" >
                    <option value="">Select Sub Profession</option>
                    {% for profession in sub_profession_list %}
                      <option value="{{ profession.id }}">{{ profession.name }}&nbsp;&nbsp;&nbsp;{% if profession.super_parent != null %}<p class="text-primary">(Sub Profession)&nbsp;&nbsp;&nbsp;{{ profession.super_parent_id }}</p>{% endif %}</option> 
                    {% endfor %}
                </select> -->

                <div id="error3" style="color: red"></div>
                <button style="background-color: #59698d;" class="btn btn-primary btn-block" type="submit">Save</button>
            </form>
          </div>

          <div class="col-md-6">
            <table cellspacing="0" style="width: 108%;margin: 0px -15px;">
              <tr class="header" style="font-size: 15px;">
                <center>
                 <th width="5%"><center>#</center></th>
                 <th width="50%"><center>Country</center></th>
                 <th width="45%"><center>State</center></th>
                 </center>
              </tr>


              {% for i in main_location_list %}
                <tr style="font-size: 13px;height: 30px;cursor: pointer;" onclick="location.href='{% url 'detail_location' i.id %}';">
                 <td><center>{{ forloop.counter }}</center></td>
                  <td>&nbsp;{{ i.name }}</td>
                  <td>
                    {% for j in sub_location_list %}
                      {% if j.super_parent_id == i.id %}
                      &nbsp;{{ j.name }}<br>
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}  
            </table>
          </div>

      </div>
    </div>
  </div>



















  <div class="col-md-9 announcement_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">

        <div class="col-md-12">
            <form action="{% url 'admin_notifications' %}" method="POST">
              {% csrf_token %}
                <div class="col-md-12">
                  <br>
                  <textarea id="message" cols="25" rows="2" class="form-control" name="notification" placeholder="Send notification to users" value="" required=""></textarea>
                </div>
                <div class="col-md-12">
                  <div class="form-group text-center">
                    <button type="submit" value="Send" class="btn btn-primary">Send</button>
                  </div>
              </div>
            </form>



            <table class="notifications_list_table" cellspacing="0">
                <tr class="header" style="font-size: 15px;">
                  <center>
                  <th width="5%"><center>#</center></th>
                  <th width="75%"><center>Notifications</center></th>
                  <th width="10%"><center>Date</center></th>
                  <th width="10%"><center>Delete</center></th>
                  </center>
                </tr>

                {% for i in notifications_list %}
                <tr style="font-size: 13px;height: 20px;">
                  <td><center>{{ forloop.counter }}</center></td></center></td>
                  <td style="word-break: break-all;">&nbsp;{{ i.notification }}</td>
                  <td>&nbsp;{{i.created_at}}</td>
                  <td>
                    <form action="{% url 'delete_notifications' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{ i.id }}" name="id_delete">
                      <button>Delete</button>
                    </form>
                  </td>

                </tr>
                {% endfor %}  
            </table>
        </div>




      </div>
    </div>
  </div>






  <div class="col-md-9 feedbacks_form" style="display: none;margin-left: -15px;">
    <div class="col-md-12 datalist_box">
      <div class="scrolluserlist">

            <table cellspacing="0">
              <tr class="header" style="font-size: 15px;">
                <center>
                  <th width="5%"><center>#</center></th>
                  <th width="5%"><center>Photo</center></th>
                  <th width="25%"><center>Name</center></th>
                  <th width="55%"><center>Feedbacks</center></th>
                  <th width="10%"><center>Date</center></th>
                 </center>
              </tr>


              {% for i in feedbacks_list %}
                <tr style="font-size: 13px;">
                 <td><center>{{ forloop.counter }}</center></td>
                 <td><center>
                  {% if i.username.image != '' %}
                  <a href=""><img src="{{i.username.image.url}}" alt="" height="40" width="40" style="border-radius: 50%" /></a>
                  {% else %}
                  <img src="{% static 'images/assign.png' %}" alt="" height="40" width="40" style="border-radius: 50%" />
                  {% endif %}
                 </center></td>
                 <td>&nbsp;{{ i.username.username.first_name }}</td>
                 <td style="word-break: break-all;">&nbsp;{{ i.feedback }}</td>
                 <td><center>{{i.created_at}}</center></td>
                </tr>
              {% endfor %}  
            </table>

      </div>
    </div>
  </div>




</div>

		


<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#main_profession_selection").change(function (){
     const url = $("#person_form").attr("data-cities-url");
     const main_profession_selection_Id = $(this).val();
     $.ajax({
      url:url,
      data:{
        'main_profession_selection_Id':main_profession_selection_Id
      },
      success:function(data){
        $("#id_city").html(data);
      }


    });
  });
</script>
 -->











    <script>
    document.getElementById("addbutton").addEventListener("click",function(){
      document.querySelector(".adduser-form").style.display = "flex";
    })
    document.querySelector(".closeuser").addEventListener("click",function(){
      document.querySelector(".adduser-form").style.display = "none";
     })
    </script>







    <script>
    document.getElementById("datachart").addEventListener("click",function(){
      document.querySelector(".datachart_form").style.display = "flex";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>

    <script>
    document.getElementById("admanagement").addEventListener("click",function(){
      document.querySelector(".admanagement_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>




    <script>
    document.getElementById("offerbook").addEventListener("click",function(){
      document.querySelector(".offerbook_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>




    <script>
    document.getElementById("userdetails").addEventListener("click",function(){
      document.querySelector(".userdetails_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>




    <script>
    document.getElementById("payments").addEventListener("click",function(){
      document.querySelector(".payments_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>



    <script>
    document.getElementById("keywords").addEventListener("click",function(){
      document.querySelector(".keywords_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>


    <script>
    document.getElementById("professions").addEventListener("click",function(){
      document.querySelector(".professions_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>


    <script>
    document.getElementById("locations").addEventListener("click",function(){
      document.querySelector(".locations_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>



    <script>
    document.getElementById("announcement").addEventListener("click",function(){
      document.querySelector(".announcement_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".feedbacks_form").style.display = "none";
    })
    </script>




    <script>
    document.getElementById("feedbacks").addEventListener("click",function(){
      document.querySelector(".feedbacks_form").style.display = "flex";
      document.querySelector(".datachart_form").style.display = "none";
      document.querySelector(".admanagement_form").style.display = "none";
      document.querySelector(".offerbook_form").style.display = "none";
      document.querySelector(".userdetails_form").style.display = "none";
      document.querySelector(".payments_form").style.display = "none";
      document.querySelector(".keywords_form").style.display = "none";
      document.querySelector(".professions_form").style.display = "none";
      document.querySelector(".locations_form").style.display = "none";
      document.querySelector(".announcement_form").style.display = "none";
    })
    </script>





		<script type="text/javascript">
      document.getElementById("sub_selection").style.visibility = "hidden";
      var ch;
    function checkRadio(name) {
        if(name == "main_category_availabe"){
            document.getElementById("defaultInline2").checked = true;
            document.getElementById("defaultInline1").checked = false;
            console.log(document.getElementById("defaultInline1").value)
            console.log('Yes')
            document.getElementById("sub_selection").style.visibility = "visible";
            ch=1;



        } else if (name == "main_category"){
            document.getElementById("defaultInline1").checked = true;
            document.getElementById("defaultInline2").checked = false;
            document.getElementById("sub_selection").style.visibility = "hidden";
        }
    }

    function check()
    {     z=document.getElementById("defaultInline2").value;
            x=document.getElementById("sub_selection").value;
    // alert(ch)
    if(ch)
    {
      // alert("rad")
      if(x == "")
    {
      // alert("not ")
      document.getElementById("error").innerHTML="choose sub category"; 
      return false;
    }else{
      // alet("sc")
      return true;

    }
    }else{
      // alert("else part")
      console.log("sdf")
    }

    }
    </script>











<!-- ------------------------------------------------------------------------------------------------------------------------------------->
    <script type="text/javascript">
      document.getElementById("main_profession_selection").style.visibility = "hidden";
      var ch;
    function checkRadio_profession(name) {
        if(name == "main_profession_available"){
            document.getElementById("defaultInline02").checked = true;
            document.getElementById("defaultInline01").checked = false;
            console.log(document.getElementById("defaultInline1").value)
            console.log('Yes')
            document.getElementById("main_profession_selection").style.visibility = "visible";
            ch=1;



        } else if (name == "main_profession_notavailable"){
            document.getElementById("defaultInline01").checked = true;
            document.getElementById("defaultInline02").checked = false;
            document.getElementById("main_profession_selection").style.visibility = "hidden";
        }
    }

    function check_profession()
    {     a=document.getElementById("defaultInline02").value;
            b=document.getElementById("main_profession_selection").value;
    // alert(ch)
    if(ch)
    {
      // alert("rad")
      if(b == "")
    {
      // alert("not ")
      document.getElementById("error2").innerHTML="Choose Main Profession"; 
      return false;
    }else{
      // alet("sc")
      return true;

    }
    }else{
      // alert("else part")
      console.log("sdf")
    }

    }
    </script>



<!-- ------------------------------------------------------------------------------------------------------------------------------------->
<!-- ------------------------------------------------------------------------------------------------------------------------------------->
    <script type="text/javascript">
      document.getElementById("main_location_selection").style.visibility = "hidden";
      var ch;
    function checkRadio_location(name) {
        if(name == "main_location_available"){
            document.getElementById("defaultInline002").checked = true;
            document.getElementById("defaultInline001").checked = false;
            console.log('Yes')
            document.getElementById("main_location_selection").style.visibility = "visible";
            ch=1;



        } else if (name == "main_location_notavailable"){
            document.getElementById("defaultInline001").checked = true;
            document.getElementById("defaultInline002").checked = false;
            document.getElementById("main_location_selection").style.visibility = "hidden";
        }
    }

    function check_location()
    {     a=document.getElementById("defaultInline002").value;
            b=document.getElementById("main_location_selection").value;
    // alert(ch)
    if(ch)
    {
      // alert("rad")
      if(b == "")
    {
      // alert("not ")
      document.getElementById("error3").innerHTML="Choose Country"; 
      return false;
    }else{
      // alet("sc")
      return true;

    }
    }else{
      // alert("else part")
      console.log("sdf")
    }

    }
    </script>



{% endblock %}