
{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}

<style>
   .active_user_page5{
      background-color: #99c2ff;
   }

</style>



<div class="container_wideboxes">
  	<div class="col-md-8 edititem_container">

		<form action="{% url 'detail_view_admin_products' admin_products_list.id %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-md-4">

			<div class="form-field col-md-12 deals-pic-circle">
				{% if admin_products_list.picture != '' %}
     			<img src="{{admin_products_list.picture.url}}" id="file-ip-1-preview"/>
     			{% else %}
     			<img src="{% static 'images/assign.png' %}"id="file-ip-1-preview" />
     			{% endif %}

     			<input type="file"  name="picture" id="file-ip-1" accept="image/*" onchange="showPreview(event);" required>
		        <label for="file-ip-1" id="uploadBtn">Choose Photo</label>      
		    </div>
		    <br><br><br><br><br><br><br><br><br>

			<div class="col-md-12">
				<label for="fname">Product Name</label>
				<input type="text" name="product_name" value="{{ admin_products_list.product_name }}" id="fname" class="form-control" placeholder="Your firstname">
			</div>

			<div class="col-md-12">
				<label for="lname">Price</label>
				<input type="text" name="price" id="lname" value="{{ admin_products_list.price }}" class="form-control" placeholder="Your lastname">
			</div>
			<div class="col-md-12">
				<label for="lname">Stock</label>
				<input type="number" name="stock" id="lname" value="{{ admin_products_list.stock }}" class="form-control" placeholder="Stock">
			</div>
			<div class="col-md-12">
				<label for="lname">Attachments</label>
				<input type="file" name="attachments" id="lname" class="form-control" placeholder="Your lastname" multiple=""/>
			</div>
			
		</div>
		<div class="col-md-8">
			
			<div class="col-md-4 wrapper-class">
				<label for="subject">Publish</label>
				<br>
					<input type="radio" id="radio1" name="publish" value="public" {% if admin_products_list.publish == "public" %} checked="checked" {% endif %}>
  					<label for="radio1">Public</label>
					<input type="radio" id="radio2" name="publish" value="private" {% if admin_products_list.publish == "private" %} checked="checked" {% endif %}>
					<label for="radio2">Private</label>
			</div>
			<div class="col-md-8">
				<br>
				[your product or deal will handle by E-bro through private channel]
			</div>
			<div class="col-md-4 wrapper-class">
				<label for="subject">Type</label>
				<br>
					<input type="radio" id="radio3" name="product_type" value="Single" {% if admin_products_list.product_type == "Single" %} checked="checked" {% endif %}>
  					<label for="radio3">Single</label>
					<input type="radio" id="radio4" name="product_type" value="Multiple" {% if admin_products_list.product_type == "Multiple" %} checked="checked" {% endif %}>
					<label for="radio4">Multiple</label>
			</div>
			<div class="col-md-8">
				<br>
				[your product can categorize based on brand name or individual]
			</div>

			<div class="col-md-6">
				<label for="subject">Brand Name</label>
				<input type="text" name="brand_name" id="subject" value="{{ admin_products_list.brand_name }}" class="form-control" placeholder="Your subject of this message">
			</div>
			<div class="col-md-6">
				<label for="subject">Contact</label>
				<input type="text" name="contact" id="subject" value="{{ admin_products_list.contact }}" class="form-control" placeholder="Your subject of this message">
		    </div>

			<div class="col-md-12">
				<div class="form-group">
				<label>Select Job Category:</label>
                <select name="category" class="form-control" multiple="">
					{% for i in category_details %}
					    <option {% for j in trade %} {% if i.id == j.id %} selected {% endif %} {% endfor %} value="{{ i.id }}">{{ i.name }}</option>
					{% endfor %}
				</select>
				</div>
			</div>
			<div class="col-md-6">
				<label for="subject">Sort by Location</label>
				<input type="text" name="location" id="subject" value="{{ admin_products_list.location }}" class="form-control" placeholder="Your subject of this message">
			</div>
			<div class="col-md-6">
				<label for="subject">Email</label>
				<input type="text" name="email" id="subject" value="{{ admin_products_list.email }}" class="form-control" placeholder="Your subject of this message">
		    </div>

			<div class="col-md-12">
				<label for="message">Other Details</label>
				<textarea  name="details" value="" id="message" value="{{ admin_products_list.details }}" cols="25" rows="2" class="form-control" placeholder="Say something about us">{{ admin_products_list.details }}
				</textarea>
			</div>

			&nbsp;&nbsp;
			<div class="row form-group col-md-12">
			<div class="form-group text-center"><br><br>
				<button type="submit" value="Update Product" class="btn btn-primary">Update Product</button>
			</div>
			</div>
		</div>
		</form>
  	</div>










  	<div class="col-md-4 offeredit_form">
		<form action="{% url 'update_product_offer' admin_products_list.id %}" method="POST">
			{% csrf_token %}
				<div class="col-md-12">
					<br>
					<label for="lname">Offer</label>
						<input type="text" name="offer" id="subject" value="{{ admin_products_list.offer }}" class="form-control" placeholder="Your subject of this message">
					<br>
				</div>	
			<div class="row form-group">
			<div class="form-group text-center">
				<input type="submit" value="Update Offer" class="btn btn-primary">
			</div>
			</div>
		</form>
	</div>



  	<div class="col-md-4 attachment_form" style="margin-top: 50px;">
		<form action="{% url 'delete_product_attach' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" value="{{ admin_products_list.id }}" name="attach_delete">
				<div class="col-md-12">
					<br><br>
					{% for j in admin_products_attach_list %}
					<img src="{{ j.attachment.url }}" alt="" height="70" width="70"/>
					{% endfor %}
					<br><br><br>
				</div>	
			<div class="row form-group">
			<div class="form-group text-center">
				<input type="submit" value="Delete Old Attachments" class="btn btn-primary">
			</div>
			</div>
		</form>
	</div>

</div>





{% endblock %}