{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}

<style>
   .active_user_page2{
      background-color: #99c2ff;
   }

</style>
  


<div class="container_wideboxes">
   <div class="col-md-12 add_ad_form">
      <br>
      <form action="{% url 'admin_ads_edit' detail_ad.id %}" method="POST"  enctype="multipart/form-data">
         {% csrf_token %}   
            <div class="col-md-5">
               <label for="fname">Ad Name</label>
               <input type="text" name="ad_name" id="fname" class="form-control" value="{{ detail_ad.adname }}" placeholder="{{ detail_ad.adname }}">
            </div>
            <div class="col-md-2">
               <label for="fname">Select Ad Size :</label>
				<select name="ad_size">
					<option value="xxxl" {% if detail_ad.adsize == "xxxl" %} selected="" {% else %} selected="" {% endif %}>XXX-Large Wide(1)</option>
					<option value="xxl" {% if detail_ad.adsize == "xxl" %} selected="" {% endif %}>XX-Large Square(2)</option>
					<option value="xl" {% if detail_ad.adsize == "xl" %} selected="" {% endif %}>X-Large Poster(3)</option>
					<option value="l" {% if detail_ad.adsize == "l" %} selected="" {% endif %}>Large Poster(4)</option>
					<option value="s" {% if detail_ad.adsize == "s" %} selected="" {% endif %}>Small(6)</option>
				</select>
               </font></b>
            </div>
            <div class="col-md-3">
               <label for="fname">Media File</label>
               <input type="file" name="image" id="fname" class="form-control" placeholder="Your firstname">
            </div>
            <div class="col-md-2">
               <br>
               <input type="submit" value="Add Ad" class="btn btn-primary">
            </div>
      </form>

      <div class="col-md-12 ad_list_form">
		{% if detail_ad.image != '' %}
		<img src="{{detail_ad.image.url}}" alt="" width="250" height="250"/>
		{% else %}
		<img src="{% static 'images/assign.png' %}" alt="" width="250" height="250"/>
		{% endif %}
      </div>
   </div>
</div>

 


{% endblock %}