

{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}
<style>
	.active_page3{
		background-color: #99c2ff;
	}
</style>


	<div class="col-xs-7">
		<div class=" animate-box assign_deal_box">
			
				<div class="row form-group">
				<div class="row">
					<div class="col-md-2">
						{% if admin_jobs_list.picture != '' %}
         				<img src="{{admin_jobs_list.picture.url}}" alt="" height="120" width="120" style="border-radius: 50%" />
         				{% else %}
         				<img src="{% static 'images/assign.png' %}" alt="" height="50" width="50" style="border-radius: 50%" />
         				{% endif %}
						
					</div>
					
					<div class="col-md-3">    Job Name
										  <br>Email     
										  <br>Contact   
										  <br>Publish   
										  <br>Price     
										  <br>Type      
					</div>
					<div class="col-md-7">: {{ admin_jobs_list.job_name }}
										  <br>: {{ admin_jobs_list.email }}
										  <br>: {{ admin_jobs_list.contact }}
										  <br>: {{ admin_jobs_list.publish }}
										  <br>: {{ admin_jobs_list.price }}
										  <br>: {{ admin_jobs_list.job_type }}
					</div>
					
					

			    </div>
			    </div>
			    

		</div>
	</div>

	<div class="col-xs-5">
		<div class=" animate-box assign_deal_box_search">
			<br>

			<div class="row form-group">
					
					<div class="col-md-12">
						<form class="colorlib-form">
							<input type="text" name="user_search" placeholder="Search" style="border-radius: 20px;width: 430px;">
        					<a href="" type="submit"><img src="{% static 'images/search.jpg' %}" alt="" height="40" width="40" style="border-radius: 50%;position: relative;" /></a>
        				</form>
        			</div>
        		</div>
			
				<form action="{% url 'assign_admin_jobs' admin_jobs_list.id %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
        		

				<div class="row form-group">
					
					<div class="col-md-12">

						<!-- <div class="input-icons">
            				<i type="submit" class="fa fa-search icon"></i>
            				<input class="input-field" type="text">
            				
        				</div> -->

        				

						<label for="lname"><div class="fonts_style">Users</div></label>
						<br><br>
						
      					
							{% for i in profile_list %}

							<input type="checkbox" id="vehicle1" name="assigns" value="{{ i.username.id }}">
							{% if i.image != '' %}
         					
         					<img src="{{i.image.url}}" alt="" height="20" width="20" style="border-radius: 50%" />
         					{% else %}
         					<img src="{% static 'images/assign.png' %}" alt="" height="20" width="20" style="border-radius: 50%" />
         					{% endif %}
							<label for="vehicle1">{{ i.username.first_name }}</label>&nbsp;&nbsp;&nbsp;
							<label for="vehicle1">{{ i.username.username }}</label>&nbsp;&nbsp;&nbsp;
							<label for="vehicle1">{{ i.phone }}</label><br>
		                       
		                     
		                	
							{% endfor %}
						
						</table>
					</div>
					

					
					
					
				</div>

				
				
				<div class="row form-group">
				<div class="form-group text-center">
					<input type="submit" value="Assaign Deals" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
				</div>
				</div>
			</form>
		</div>
	</div>



{% endblock %}







