{% extends 'admin dashboard/admin_dashboard.html'%}

{% block content %}

{% load static %}


<style>
   .active_user_page6{
      background-color: #99c2ff;
   }

</style>
  



 
<div class="container_wideboxes">
	<div class="col-md-4 category_edit_box">
	    <form action="{% url 'update_category' detail_category.id %}" method="POST" enctype="multipart/form-data">
	      {% csrf_token %}
	        <div class="col-md-12">
	        	<br>
	        	<h5 class="headings_small">Edit Main Category :</h5>
	        	<br><br><br>
	          <label for="fname">Category Name</label>
	          <input type="text" name="category_name" id="fname" value="{{ detail_category.name }}" class="form-control" placeholder="category name">
	          <input type="hidden" value="{{ detail_category.id }}" name="id_update">
	        </div>
	        <br>
	        <div class="col-md-12">
		        <div class="form-group text-center"><br>
		          <button type="submit" value="Update Category" class="btn btn-primary">Update Category</button>
		        </div>
		        </div>
	    	</div>
	    </form>
	</div>

	<div class="col-md-7">
	    <div class="col-md-12 subcategory_edit_box">
	    	<div class="col-md-12">

	    		<form action="{% url 'detail_category' detail_category.id %}" method="POST" enctype="multipart/form-data">
		      		{% csrf_token %}
			       	<div class="col-md-12">
			          <label for="fname">Sub-Category Name</label>
			          <input type="text" name="sub_category" id="fname" class="form-control" placeholder="category name">
			        </div>
			        <br>
			        <div class="form-group text-center">
			          <button type="submit" value="Add Sub Category" class="btn btn-primary">Add Sub Category</button>
			        </div>
			    </form>
			</div>

			<div class="col-md-12">
		        <table cellspacing="0" class="user_list_table">
		          <tr class="header" style="font-size: 15px;">
		            <center>
		             <th width="5%"><center>#</center></th>
		             <th width="30%"><center>Sub Category</center></th>
		             <th width="15%"><center>Delete</center></th>
		             </center>
		          </tr>


		          {% for i in subcategory_list %}
		            <tr style="font-size: 13px;">
			             <td><center>{{ forloop.counter }}</center></td>
			             <td>&nbsp;{{ i.name }}</td>
			             <td><center>
				         	<form action="{% url 'delete_subcategory' %}" method="POST">
								{% csrf_token %}

				         	<input type="hidden" value="{{ i.id }}" name="id_delete">
				         	<button>Delete</button>
				            </form>
			            </center>
			         	</td>
		            </tr>
		          {% endfor %}  
		        </table>
			</div>
	    </div>

	</div>
</div>




{% endblock %}